[2017-04-02 05:07] sdzharkov opened #1 "Boilerplate isn't working"
So I recently pulled the boilerplate but nothing actually renders. Here are the errors I receive in terminal
<img src="https://cloud.githubusercontent.com/assets/15082504/24584579/dad8c0ba-1726-11e7-9bd8-2ec69f15abd8.png" width="400">

[2017-04-02 09:33] Metnew commented on #1
Sorry, master branch has been broken since yesterday, due to upgrade to react-router v4, I'm working on it currently

[2017-04-02 10:42] Metnew commented on #1
Probably, fixed in https://github.com/Metnew/reatty/commit/67c6899e50ea7ab99f2b9b885843d07d9c48f4a7

[2017-04-02 18:04] sdzharkov commented on #1
Awesome thanks man

[2017-04-02 18:04] #1 closed

[2017-04-12 23:50] niko150 opened #2 "Trouble with deploying to heroku."
Hi, can you please explain how to deploy this to heroku?

Thanks in advance

[2017-04-13 00:30] Metnew commented on #2
Hi, you can build your app with 2 commands `npm run build` and `npm run build:demo`

`npm run build:demo` builds your app with certain publicPath and baseHref
take a look at [package.json](https://github.com/Metnew/react-semantic.ui-starter/blob/master/package.json):
[code]
You can build your app with specified publicPath and baseHref by modifying paths:
- [here, in webpack config](https://github.

[2017-04-13 01:25] niko150 commented on #2
Thank you

[2017-04-13 01:40] #2 closed

[2017-04-26 03:38] clifflo opened #5 "Stuck at the sign in screen"
Hi when I have successfully run your project in "npm run dev" I can go to localhost:3000/auth but when I have typed some username and password the button just keeps spinning without entering the dashboard. Can you tell me how to solve that?

[2017-04-26 07:23] Metnew commented on #5
Did you run `npm run db' ?

[2017-04-26 15:01] clifflo commented on #5
I have done `npm run db` and it works now. Thanks. So what is the difference between `npm run dev` and `npm run db` or do we simply have to run both commands at the same time?

[2017-04-26 19:45] Metnew commented on #5
Both commands. `npm run db` - setup json-server, `npm run dev` - run application in dev mode. But you can use  [concurrently](https://www.npmjs.com/package/concurrently) and run db and app with one command. Or you can just write you own server.

[2017-04-26 20:02] #5 closed

[2017-04-26 23:37] dternyak opened #6 "Integrate React Hot Loader"
Similar boilerplates like https://github.com/krasevych/react-redux-styled-hot-universal have [React Hot Loading](https://github.com/gaearon/react-hot-loader).

This allows you to keep your redux state in between hot-module replacement of your React Components/ Smart Containers, and speeds up development when you have to build up state.

Is there any plan to implement similar functionality for this

[2017-04-26 23:49] Metnew commented on #6
Hi, sorry, but It's already existed. `webpack_config/server.js` - you can find it here.

[2017-04-26 23:58] dternyak commented on #6
That's webpack hot middleware - for swapping out components "hot".

I'm talking about having the redux state persist - 2 different things.

[2017-04-27 00:00] Metnew commented on #6
[Take a look at this line, please.](https://github.com/Metnew/react-semantic.ui-starter/blob/master/webpack_config/server.js#L13)

[2017-04-27 00:11] dternyak commented on #6
Thanks! Didn't notice that.

I must be having some issue then - I lose state every time I update my code. I'll play around with it some more, I must be doing something wrong.

Thanks for your help!

[2017-04-27 01:13] Metnew commented on #6
Thanks for your interest to this starter, I really appreciate it😉

[2017-04-27 01:13] #6 closed

[2017-05-12 17:32] iqbalsafian opened #9 "Build failed"
Hi guys,

I freshly cloned your repo and successfully ran npm install, but couldn't run other scripts: build, dev, ssr.
Both threw the same two errors which pointing to semantic-ui-react:

any direction?

[2017-05-12 20:40] Metnew commented on #9
Hi, I can't reproduce your issue. Which version of Node do you use?

[2017-05-13 10:00] iqbalsafian commented on #9
Thank you for your attention. I've restarted my machine and now node has compiled your project without errors. So it was not your bug and I'm closing this issue. Thanks man for the reply and million thanks for the project. Keep up the good work!

[2017-05-13 10:03] #9 closed

[2017-05-13 14:20] Metnew commented on #9
Thank you for your interest to this project. I very appreciate it :)

[2017-05-16 11:50] urbionic opened #10 "Compile fail. Missing 'key' prop error"
Hi
I cloned your repo and successfully ran npm install, but couldn't run other scripts: build or dev.
On running 'npm run dev' I get the following:
`ERROR  Failed to compile with 4 errors

[2017-05-16 22:23] Metnew commented on #10
Hi, thanks for your issue, I just updated master branch, it must works right now. Can you check it?
Probably, issue was caused by new release of react-eslint package

[2017-05-17 14:59] #10 closed

[2017-05-22 14:57] davidctj opened #12 "Missing purify-css dependency in the package.json"
I think webpack could not find module 'purify-css'...

we need to npm i -D purify-css for the project

[2017-05-22 15:07] Metnew commented on #12
Yeah, really, it seems that purify-css wasn't included in project. Right now it's fixed.
Thanks for your issue 👍

[2017-05-22 15:07] #12 closed

[2017-06-04 14:26] auswalk opened #13 "running eslint"
In my old project I had something like in package.json
  "scripts": {
    "db": "nodemon ./db",
    "build": "webpack --config webpack_config/webpack.prod.js",
    "build:demo": "BUILD_DEMO=true webpack --config webpack_config/webpack.prod.js",
    "test": "jest --config=jest_config/jest.config.json --coverage --forceExit || true",
    "dev": "node webpack_config/server.js",
    "ssr": "nodemon --

[2017-06-04 17:01] Metnew commented on #13
Eslint works with webpack (eslint-loader) and lints your code on build or run(npm run dev)

[2017-06-04 22:20] auswalk commented on #13
Excellent. Do you recommend a way to set up a directive to run eslint on the command line by setting it up in package.json ?

[2017-06-04 23:06] Metnew commented on #13
Yeah, you can run eslint from cli, but personally, I don't see any real purpose to do it.
Lint code without `--watch` isn't a good idea.
Lint files in webpack_config folder - maybe it's the only one purpose for eslint.
Maybe, it will be useful for linting code written for server.

[2017-06-04 23:46] auswalk commented on #13
I'm having issues getting 'npm run dev' to recompile after changing code in a source file. Is this default behavior?

[2017-06-08 21:58] Metnew commented on #13
Can you describe it more detailed?

[2017-06-08 23:00] auswalk commented on #13
This may be an operating system issue (ubuntu) and not a package related issue. I will close. Thanks

[2017-06-08 23:00] #13 closed

[2017-06-13 10:33] neslinesli93 opened #14 "Add routes with params"
Hi, thanks for your great work - this is one of the best boilerplates I've ever seen.

Currently I'm struggling with adding routes with params inside, e.g /user/:id.
I've seen that inside `containers/App/index.jsx` there's a LOC referring to the fact that a refactoring is needed if we want to support these kind of routes.
Inside the same files, `match` is declared as a Prop, however I always get u

[2017-06-13 12:32] Metnew commented on #14
Hi, thanks for your feedback, I really appreciate it :) 😈
I'll push fix for your issue in next few hours.

[2017-06-13 18:54] Metnew commented on #14
it must be fixed in 23906c64899962477144ad77b3471892079ca673.

[2017-06-13 21:50] ostryhub opened #15 "Fresh install doesn't compile"
Hi, thanks for this project.
I tried to run it as the readme states, but after
- cloning
- running npm install
- running npm run dev

I see lots of compilation errors (I copy pasted some of the output below)
Also seems that dependency on purify-css is not working as after npm install in the dependency graph it says
`
├── UNMET PEER DEPENDENCY purify-css@>= 1.0.0 < 2.0.0
`

Am I doing something wro

[2017-06-13 21:55] neslinesli93 commented on #14
Thanks! Although I achieved a similar solution by directly using the
path-to-regexp module...
What I did not get is how am I supposed to get the matched params of the
URL in state.props.match, inside the rendered container

On Jun 13, 2017 20:55, "Vladimir Metnew" <notifications@github.com> wrote:

[2017-06-13 22:01] ostryhub commented on #15
I had old version of node installed, sorry ! closing ...

[2017-06-13 22:01] #15 closed

[2017-06-13 22:17] ostryhub opened #16 "react deprecated api used ?"
Hi, thanks for the project !

After properly compiling and running npm run dev in the browser the app doesn't appear.

The console states:

[HMR] Waiting for update signal from WDS...
lowPriorityWarning.js?d93c:40 Warning: Accessing createClass via the main React package is deprecated, and will be removed in React v16.0. Use a plain JavaScript class instead. If you're not yet ready to migrate, cre

[2017-06-14 07:37] Metnew commented on #16
Hi, thanks for your issue, I'll check it. Personally, I've never got this error

[2017-06-14 08:10] Metnew commented on #16
Issue was caused by new React 15.6 and whydidyouUpdate. I commented this module in d210f5964105b4461c44b62aa93d21656e653fc5, so right now it's fixed.

[2017-06-14 08:52] Metnew commented on #14
Hm, and standard access to match props doesn't work?
https://reacttraining.com/react-router/web/example/url-params

[2017-06-14 09:06] Metnew commented on #16
Hope that whydidyouupdate will be updated for React 15.6

[2017-06-14 09:08] Metnew commented on #14
Seems strange, I'll add one more route with params to app soon, maybe even today.

[2017-06-14 09:10] neslinesli93 commented on #14
Yup, match is undefined inside child containers

[2017-06-14 09:33] Metnew commented on #14
:(
Is issue resolved now?

[2017-06-14 09:34] #16 closed

[2017-06-14 11:58] neslinesli93 commented on #14
Yup, thanks for your help.
However I am still wondering how to correctly handle location_change action
inside the reducers, having the case of an URL with params inside

On Jun 14, 2017 11:33, "Vladimir Metnew" <notifications@github.com> wrote:

[2017-06-14 13:18] Metnew commented on #14
With [react-router-redux](https://github.com/ReactTraining/react-router/tree/master/packages/react-router-redux)
IIRC, you can find LOCATION_CHANGE in `src/actions/common`, in action.payload you can find params and other location stuff

[2017-06-15 11:06] #14 closed

[2017-06-28 18:18] emzero opened #17 "Manifest: Line: 1, column: 1, Unexpected token."
Cloned the repo, did `yarn`, then `yarn run dev` and `yarn run db` and while the project loads, it throws an error `Manifest: Line: 1, column: 1, Unexpected token.` in Chrome.
When going to the Application tab in devtools and clicking in `manifest.json` it shows the following instead of the manifest.

[code]

Also, the service worker doesn't seem to be running. Or does it only run in production mo

[2017-06-28 20:48] Metnew commented on #17
Hi, thanks for your issue!
SW works only in production, because it caches build results.
I tested manifest.json only in production build and probably currently it will not works correctly in dev mode, because there is no need in manifest.json in development + it will be replaced soon with FaviconsWebpackPlugin. I'm currently working on big update in which your issue will be fixed.

[2017-06-28 22:02] emzero commented on #17
I figured. Thanks!

[2017-06-28 22:02] #17 closed

[2017-06-28 22:48] Metnew commented on #17
Probably, Redux will be used in a future, but there will be many improvements: lazy loading, styled-component + SSR.

Also, starter is based on Semantic-UI(<s>hah, probably it's obvious</s>) which is not 100% good choice for performance-first apps (semantic uses full lodash bundle as dependency + minified styles are 548 kb without gzip), so lazy loading is a requirement. If your project isn't so b

[2017-06-28 23:16] emzero commented on #17
Thanks for your quick reply.

Actually I don't want or need SSR.

I still like your starter since it uses SUI, which I love, but also a solid structure with good performance and even a testing framework. But I do not like Redux and I prefer Typescript over babel.

[2017-06-29 00:40] Metnew commented on #17
Hm, personally, I don't like TypeScript, but maybe I need to think about an alternative for Redux in this project, thanks for your idea)
Maybe custom CLI generator (like CRA or ng utils) or yeoman generator will be a good solution.

[2017-06-29 02:00] emzero commented on #17
Well, that would be amazing!

[2017-07-07 13:16] PharrellWANG opened #18 "router not working after build"
After I ran `npm run build`, then I serve the dist folder, then the app is running at localhost:5000.

But when I directly type 'http://localhost:5000/auth' in the browser address bar, it will show 'Not Found'.

Why is that?

[2017-07-07 13:35] Metnew commented on #18
Hi, thanks for your issue!
Probably, you forget to add `-s` option to `serve`. Try to run `serve -s` in dist folder.
Do you use this [serve](https://www.npmjs.com/package/serve) package, right?

[2017-07-07 13:46] PharrellWANG commented on #18
@Metnew
You are right. When I use -s option, it starts to work.

I have just checked the help guides, and I found the explanation below:
`-s, --single        Serve single page apps with only one index.html`
But I am still confusing. Why the `-s` option solved this problem?

[2017-07-07 13:54] Metnew commented on #18
Because, it returns `index.html` on every request that doesn't match any other files in folder. After reqesting`http://localhost:5000/auth` without `-s` you get "Not found", because no `auth` file exists in folder. With `-s` you get index.html in response -> then  React-router starts -> then Login component mounted.

[2017-07-07 13:58] PharrellWANG commented on #18
@Metnew
Thank you so much Metnew! Your starter project is really good. Best wishes to you!

[2017-07-07 14:01] Metnew commented on #18
I'll push new version with SSR, Lazy loading, styled-components in a few hours, hope that you will check it :)

[2017-07-07 14:01] #18 closed

[2017-07-07 14:06] PharrellWANG commented on #18
@Metnew Sure, i'll check it. Thank you for the continuous updates.

[2017-07-08 00:53] nueko opened #20 "Leak Memory Warning on Install"
run `npm install` succeed with warning:
`(node:9292) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 SIGINT listeners added. Use emitter.setMaxListeners() to increase limit`

[2017-07-08 01:17] Metnew commented on #20
Hi, thanks for your issue. But as I understand you get this warning from npm, right? If i understand it correctly, your issue isn't connected with this project, but with npm.

[2017-07-08 02:00] nueko commented on #20
Yes you are right, some people report that warning on npm, I think I'll close this.

Sorry for quick shot

[2017-07-08 02:00] #20 closed

[2017-07-10 02:40] nueko opened #22 "NPM start"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:
Use `npm start` to proxy `npm run dev`

[2017-07-10 09:00] PharrellWANG opened #23 "is the multilingual part done?"
@Metnew
Hi, Metnew!
I'm here asking a question instead of raising an issue:
Since I cannot see where the button for switching the language is, I kind of cannot get the sense of how to use the multilingual update of version 3. Now I build it without flags, it is supposed to be built with all available languages. But how to switch between the two languages currently available after building for prod

[2017-07-10 10:40] Metnew commented on #23
Hello, @PharrellWANG!
Just run `npm run build`, webpack bundles 2 apps with both languages.
Check `i18n` folder, you can find i18n object here. This is an example of how i18n-webpack-plugin works: https://github.com/webpack/webpack/tree/master/examples/i18n
After bundling 2 apps with different languages you can not switch to another language directly, without custom server, I recommend you next wa

[2017-07-10 11:08] PharrellWANG commented on #23
@Metnew
Okay, let me try it. Thank you~

[2017-07-10 22:01] Metnew commented on #22
hi, thanks for your issue. This feature was added in 339f7ca1cccd1ce10ddf9c7a044bdd5b72eac890.

[2017-07-10 22:01] #22 closed

[2017-07-11 00:18] Metnew commented on #23
I'm currently working on moving a demo from gh-pages to zeit's now. So all custom code for deploying to gh-pages (e.g. process.env.BUILD_DEMO) will be removed. Also, I'm going to implement described above feature with i18n.

[2017-07-11 02:10] PharrellWANG commented on #23
@Metnew
Ok, thanks~
By the way, when I do `npm run dev`, the project can be compiled successfully. But there's an error:
<img width="1219" alt="error" src="https://user-images.githubusercontent.com/22740944/28048055-fe4df954-6620-11e7-9ff2-18e927d3b1d5.PNG">
I cannot figure it out. Do you have the same issue when `npm run dev`?

[2017-07-11 09:55] pjatacsukb opened #24 "Element type is invalid after prod build"
Hello!

I am trying to deploy the production built application.
Everything runs fine in dev mode, however when i build it for production after the Auth page, I get
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined." erros.
How should I try to solve this problem? Does it have to do with my code, or just missing som

[2017-07-11 10:13] pjatacsukb commented on #24
It seems to be an issue with my Sidebar, will look into it. But it doesnt happen in dev mode so strange.

[2017-07-11 12:22] pjatacsukb commented on #24
I fixed the problem, but still dont know what caused it.
The problem was the Logo component rendered in the Sidebar component.
Somehow in production build it cannot find imported like this:
[code]
Changing that to relative import solved the problem:
[code]

[2017-07-11 12:49] Metnew commented on #24
Hi, @pjatacsukb.

I got similar issues few times and I fixed it in a similar way. Changing relative import path to absolute. I investigated this problem, and my colleague and I decided that this bug is caused not by our code, but by dev dependencies. E.g. by Webpack.

[2017-07-11 12:54] pjatacsukb commented on #24
Oh I see, it was a little tricky to find out the problem. I will close this issue, hopefully it will help if somebody runs into this same issue :)

[2017-07-11 12:54] #24 closed

[2017-07-11 12:56] Metnew commented on #24
Yeah, thanks for your issue :)

[2017-07-12 03:08] Metnew commented on #23
@PharrellWANG
Yeah, I have the same error. Probably, it is caused by requiring of non-js file (I guess `index.html`, because it's the only non-js file in repo) that is parsed by babel-loader.
I'll try to fix it after improving server part + complete full migration to zeit's `now`. Also, I recommend you to check `dev` branch.

[2017-07-13 07:05] PharrellWANG commented on #23
@Metnew Okay and I'll close this issue.

[2017-07-13 07:06] #23 closed

[2017-07-14 19:48] TheDolo commented on #22
Maybe move to yarn?

Thanks for the most awesome react starter kit ever (semantics :)) :)

[2017-07-14 21:13] TheDolo opened #26 "Missing Export"
Thanks for the awesome boilerplate!  Love how it's ready to connect to any API!  Maybe implement yarn :)

## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
In AuthSVC:
`const JWT_TOKEN = 'JWT_TOKEN'
`
This const is not exported, so in reducers/auth, JWT_TOKEN is undefined.

- #### **What is the expected behavior?**
JWT_TOKEN be exported :)

- #### **What is the c

[2017-07-14 22:31] Metnew commented on #26
Hi @TheDolo
Hah, really, very stupid bug, will be fixed soon :)

[2017-07-14 22:32] Metnew commented on #26
You can already use yarn, just run `yarn install`

[2017-07-14 23:49] TheDolo commented on #26
Indeed, Yarn is working :) don't know why I thought otherwise.  I think I was just surprised to see when first using Yarn, but it happens with NPM too.
[code]
Thanks again!

[2017-07-15 00:08] #26 closed

[2017-07-15 00:26] TheDolo opened #27 "Optionally reset Semantic.UI -webkit-scrollbar styles"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
![image](https://user-images.githubusercontent.com/26640355/28234812-b7f36e22-689f-11e7-9a2c-ae4ba8402eee.png)
![image](https://user-images.githubusercontent.com/26640355/28234814-baad65be-689f-11e7-8240-ae6522b57870.png)
Bottom and right margin in built version vs demo version online.

- #### **What is the expect

[2017-07-15 07:30] PharrellWANG commented on #27
@TheDolo
I have the same issue here. One of my Macs is behaving fine when displaying the app via Chrome, the other iMac has the same issue as yours. Why is it?

[2017-07-15 13:13] Metnew commented on #27
@TheDolo  @PharrellWANG  Thanks for the report, I'll check this issue later, currently working on advanced images preprocessing.

[2017-07-15 14:41] adanielyan opened #28 "Integration with Feathers.js"
## **I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] question

This boilerplate is awesome! I want to use it with Feathers.js though. Can you please give me an advice on where I should start making changes? I want to not only use Feathers server but also the client, and connect them through web sockets, as that's the recommended approach by Feathers.

Any help is appreciated.

[2017-07-15 15:28] Metnew commented on #28
Hi @adanielyan,
Thanks, It will be ever more awesome soon :)

I've never worked with Feathers, but after quick research, I guess that:
1. You don't need to change SSR on server. You don't need to change frontend at all(almost).
2. You need to configure xhr_wrapper (custom request agent in `src/common/api/utils`) to accept right status codes from server, `Authorization` header. Also, you need to ch

[2017-07-15 17:04] #28 closed

[2017-07-15 17:37] adanielyan commented on #28
Thank you for a quick response, Vladimir. I'll try to follow the steps you described.

[2017-07-15 18:39] Metnew commented on #28
Also, is your project open-source?

[2017-07-15 22:01] TheDolo opened #29 "Flash of unstyled content"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
More bugs <3

When running `yarn run dev`, the site will show unstyled content (skeleton html structure without CSS applied) for .25 seconds or so on refresh of browser.

- #### **What is the expected behavior?**
CSS loaded first.

- #### **What is the current behavior?**
.25 seconds of skeletons.

- #### **Steps

[2017-07-15 22:57] Metnew commented on #29
Hi, @TheDolo thanks for active participating 👍
But, it's dev mode, where app scripts and styles aren't minified + hot-module-replacement script exists + webpack script exists. If I remember correctly, size of all scripts that are used in development are bigger than 13 Mb, so it's ok that flash of unstyled content exists in development.

[2017-07-15 23:01] TheDolo commented on #29
Thank you for the response!  I had no idea, thank you!

[2017-07-15 23:01] #29 closed

[2017-07-15 23:01] Metnew commented on #29
Also, what do you think about "ui-framework agnostic" fullstack micro-framework based on this starter?

[2017-07-15 23:53] TheDolo commented on #29
It's a good idea in many regards.  Semantics was actually a huge plus for me, especially after surveying everything in the React land.  Inevitably, I'm going to use something as a base for a UI framework, and not someone's abstraction.  I  also always mix in other frameworks.  In this case, I've chosen Semantics as the base and BlueprintJS for design/typo/etc and other components.

I think if it's

[2017-07-16 00:40] adanielyan commented on #28
Some parts of it are, but not all.

[2017-07-16 01:23] Metnew commented on #29
@TheDolo thanks man, your feedback really helps. I'm currently working on HMR with SSR + webpack for server-side code. And after a small investigation I realize that it would be cool to make something similar to next.js, but more customizable for every developer.

I agree with you about UI frameworks, but when I started this project it was a small "how-to" example with semantic :) And semantic-ui-

[2017-07-16 01:42] TheDolo commented on #29
Heh, Next.js is a huge investment in technical debt, rapscallion is nice and light, maybe even look at adding other renders as an option: https://github.com/electrode-io/electrode-react-ssr-caching

It's really surprising to see such a huge framework with so little examples, lot's of responsibility on your part ;D

[2017-07-16 21:01] TheDolo opened #30 "loadLazyComponent doesn't work with tag:Route"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
loadLazyComponent doesn't work with tag:Route

- #### **What is the expected behavior?**

- #### **What is the current behavior?**

- #### **Steps to reproduce:**
^^

### Useful Info:

- #### Your environment:
  - Node version: 6.11.1
  - Browser: Chrome
  - OS: OSX
  - Language/Platform/etc:

[2017-07-16 21:21] Metnew commented on #30
Hi @TheDolo, thanks for your issues. It's probably because of `<RouteAuth>` component in `src/common/components/addons`. I just have forgotten to add this feature. I'll push changes soon

[2017-07-19 00:49] ZengLeiPro opened #33 "Bug Report"
in ./src/common/actions/auth/index.js
Syntax Error: Unexpected token, expected , (19:33)

setLocalToken(result.data.token])

[2017-07-19 11:34] Metnew commented on #33
Already fixed in https://github.com/Metnew/react-semantic.ui-starter/pull/32

[2017-07-19 11:34] #33 closed

[2017-07-19 17:36] dreampod opened #34 "common-actions-auth"
## **I'm submitting a ...**

- [ x] bug report

- #### Is feature important in common use cases?

  **If this feature is custom and interesting only for you** (not useful for other users, has connection with your app logic, etc.) - **email me [vladimirmetnew@gmail.com](mailto:vladimirmetnew@gmail.com).**

- #### Describe requested feature:

My project fails build, is this a syntax error?

in src/c

[2017-07-19 18:24] Metnew commented on #34
Hi, it's a syntax error. Just pull a new version, it should be already fixed.

[2017-07-19 18:26] #34 closed

[2017-07-20 14:27] Alendorff opened #35 "Demo - 404 if target is not the site root"
### Bug Report:

Go to [https://metnew.github.io/react-semantic.ui-starter/users](https://metnew.github.io/react-semantic.ui-starter/users)

- #### **What is the expected behavior?**
Requested page

- #### **What is the current behavior?**
404

- #### **Steps to reproduce:**

 Just go to [https://metnew.github.io/react-semantic.ui-starter/users](https://metnew.github.io/react-semantic.ui-starter/u

[2017-07-20 15:58] Metnew commented on #35
It's a bug of github pages. Demo will be moved soon to zeit's "now".

[2017-07-20 15:58] #35 closed

[2017-07-22 02:24] Metnew commented on #27
I figured out that it's not a right/bottom margin - it's a scrollbar, created by `overflow-y: scroll!important;`. But I still can't understand how two identical apps can render differently.

[2017-07-22 02:38] Metnew commented on #27
Looks like the issue was caused by Semantic-UI latest version. They moved from normalize.css 3.0.1 to normalize.css 7.0.0

[2017-07-22 08:46] TheDolo opened #36 "Yarn build client size 1.2 MB"
## **I'm submitting a ...**

- [ ] bug report
- [X] feature request

### Feature Request:
Any idea how to bring this down? Is it just semantics and iconsapple-touch-startup-image-1536x2008.png?

##

[2017-07-22 09:46] #36 closed

[2017-07-22 10:31] Metnew commented on #36
Hi @TheDolo, icons aren't included in bundle size. You can run `ANALYZE_BUNDLE=true APP_LANGUAGE=en npm run build` for more info about bundle. Did you mean client + vendor size = 1.2mb?

[2017-07-22 20:09] TheDolo commented on #27
Heh, this removes the scroll bar though lol!  The bottom margin is still visible with the above.

[2017-07-22 20:21] TheDolo commented on #36
I appreciate the suggestions for Webpack!  That's one of my weak areas at the moment, but not for long :D

Oh my, BundleAnalyzerPlugin is fantastic.  Make this part of the docs!!  Thanks!

[2017-07-22 22:43] Metnew commented on #27
Just change in `src/common/containers/App/style.jsx`
from:
[code]
to:
[code]

This fixes will be in the next minor version, sorry for no updates for so long

[2017-07-22 22:45] Metnew commented on #36
Hmm, but there is no momentJS in the starter... But yes, I agree, moment.js is a pig :)

[2017-07-22 23:51] TheDolo commented on #36
Oh yea, that was on me!  I added some other things and saw it reach 2MB, panic'd, started from scratch again and saw a 1.2MB default build, panic'd again then realized gzip is amazing, learned some more webpack, and now I see the light!

I also did this:
`base.plugins.push(new BundleAnalyzerPlugin({**analyzerMode: 'static'}**))
`

Which got rid of the 8088 server and did .html reports!

[2017-07-22 23:59] TheDolo commented on #27
This fixes the bottom bar for me, however the right bar still does not auto hide (like the demo), and has a background color that is different from the rest of the page (part of the auto hide problem, like in the pictures above).

Thank you!

[2017-07-23 00:00] Metnew commented on #27
did you insert code from [this comment](https://github.com/Metnew/react-semantic.ui-starter/issues/27#issuecomment-317148526) into your styles?

[2017-07-23 00:13] Metnew commented on #36
Hm, strange, but why it's a github bug?

[2017-07-23 00:31] TheDolo commented on #27
The scrollbar is no longer visible when scrolling when I insert that into global.jsx, but the background color is gone.  I also tested on a fresh clone, same result.

[2017-07-23 00:40] TheDolo commented on #36
https://github.com/th0r/webpack-bundle-analyzer/issues/37 I think!

[2017-07-23 00:42] Metnew commented on #27
It's because some semantic's style still aren't reseted. Will be fixed too

[2017-07-23 05:16] TheDolo commented on #27
Yea I could not get Blueprint styles or icons for Webpack to be included after installing it and trying to use it. http://blueprintjs.com/docs/#blueprint.npm-installation

Also Webpack doesn't seem to grab and include css or scss files in src folder, any idea how I can do this?  I've been doing stylesheet tag in index.html workaround for now.

Thanks!

[2017-07-23 15:26] Metnew commented on #36
Do you use BundleAnalyzer in dev move?

[2017-07-23 20:01] TheDolo commented on #36
Naw, only needed in production!

[2017-07-24 01:31] TheDolo opened #37 "Blurring page dimmer"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
Tried to add Dimmable dimmer to use blurring feature of semantic

`          {isLoggedIn && !sidebarOpened && <Dimmer.Dimmable dimmed={true}><Dimmer active={true} /></Dimmer.Dimmable>}
`
Doesn't work.  Even with a `<StyledDimmerDimmable>` with zIndex applied.
`          {isLoggedIn && !sidebarOpened && <Dimmer act

[2017-07-24 04:14] TheDolo opened #38 "FOUC on SSR"
## **I'm submitting a ...**

- [X] bug report
- [X] feature request

### Feature Request:

### Bug Report:
Edit:  Seems some imported libraries will cause FOUC of auth components.

[2017-07-24 04:26] TheDolo commented on #38
Can't replicate on clone.

[2017-07-24 15:30] Metnew commented on #38
in development or in production with SSR?

[2017-07-24 15:32] Metnew commented on #37
I'm going to implement this, have never thought about blurring dimmer

[2017-07-24 20:04] TheDolo commented on #38
Heh, SSR only.  I've found it on shift refresh.  Only need to import big libraries and eventually it'll happen.  I get the screen below for about 1.4 seconds of loading on shift refresh.  Sorry for the bad quality, chrome frame inspector.
![chrome](https://user-images.githubusercontent.com/26640355/28542278-5f09f910-7057-11e7-9183-a01a5c2b36d7.png)

[2017-07-24 22:05] TheDolo commented on #38
At entry point of 2.3MB (of course it's gzipd'), on normal page refresh I'll get about 200MS of the above :(

[2017-07-25 05:35] Metnew commented on #38
@TheDolo , I found error in SSR, but can't push fix for it right now, would be fixed soon (approximately: one day)

[2017-07-26 21:43] toddler4372 opened #39 "Error when running npm run build - Windows cmd prompt"
I'm wondering if this starter app can be run on Windows, or if I can make some adjustments so that it can?  I develop on Windows 7, and I'm getting an error when running `npm run build`.

'rm' is not recognized as an internal or external command, operable program or batch file.
child_process.js:526
throw err;
^

[2017-07-26 22:48] Metnew commented on #39
@toddler4372 Hi, probably you need cross-env package to run it on Windows, I currently have no plans to add this feature, but PR with this feature would be very helpful 👍

[2017-07-27 12:49] sharmasourabh commented on #39
You can make it work on Windows 7 by using Git Bash or similar tools. I used Git Bash, and it worked:

  0% compiling 10% building modules 0/1 mo 10% b 69% building modules 1003/1004 modules 1 92% chunk asset optimization(node:2900) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfMod 95% emitting
Starting to optimize CSS...
Processing vendor.edebc2fc.css...
Processed vendor.e

[2017-07-27 17:43] #39 closed

[2017-08-01 05:48] ghostsquad opened #40 "How does this work with semantic's custom fonts and icons"
I've been pouring over this code, articles, google searches, trying to figure out the best/correct way to use semantic-ui-css and themes with webpack/react. Lots of people seem to be having this problem. I can't figure out exactly how this project is enabling Semantic UI themes (maybe it's not), but even just using `semantic-ui-css` I have problems with "unable to resolve `../themes/default/......

[2017-08-01 20:17] TheDolo opened #41 "SSR doesn't include semantic fonts"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
When running SSR, my mac is using Helvetica font and not Lato.

- #### **What is the expected behavior?**
Lato and fonts be bundled in build.

- #### Your environment:
  - Node version: Latest Stable.
  - Browser: Chrome
  - OS: OSX
  - Language/Platform/etc:

[2017-08-01 20:35] Metnew commented on #40
Hi @ghostsquad, I don't know this secret. Just add [next line](https://github.com/Metnew/react-semantic.ui-starter/blob/master/src/client/index.jsx#L2) to your entry. And configure webpack: add style-loader + css-loader (+ sass-loader, if you use SASS or similar preprocessor like Less). Does it solve your issue? In which part you probably have a bug?

[2017-08-01 20:38] Metnew commented on #41
Hi @TheDolo, seems strange, because Lato is obtained from Google fonts and is requested on application init. I'll check this. Sorry for no updates for a long time, because I still can't refactor some parts rightly

[2017-08-01 20:45] TheDolo commented on #41
I appreciate the effort, I'm still here using your boilerplate for a enterprise production app (don't you love API/Frontend separation?), and I am relying on you :) (no worries)!

Cheers!

[2017-08-01 20:48] Metnew commented on #37
Hi @TheDolo, I faced next issues when I was trying to add blurred dimmer: There are 2 ways to add blurred dimmer:
1. wrap whole app in Dimmer.Dimmable, like:
[code]
Problem: bad performance.

2. Add Dimmer with `page:true` prop, so the dimmer renders outside the app + add `class="blurred"` to `<body>`.
Problem: Sidebar is blurred and covered by the dimmer.

I still try to find the simplest way to

[2017-08-01 23:44] ghostsquad commented on #40
Here's the full error:
[code]

My webpack config looks like this:
[code]

I'm almost to the point where I just want to vendor in the necessary themes and icons/fonts straight from semantic-ui source

[2017-08-02 05:35] TheDolo opened #42 "Header (and all fixed elements) only stays fixed on mobile"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
I know this is probably part of the Pusher issues.

Currently, fixed elements on desktop will not stay fixed and will scroll.  Once mobile (menu is gone), all issues are resolved.

[2017-08-02 07:33] Metnew commented on #40
@ghostsquad I think it would be better if you modify your current project's webpack config to a similar config in the starter. It would be easier to debug (from my point of view) + probably your issue disappear after that. I faced similar issue when I was working on [vue-element-starter](https://github.com/Metnew/vue-element-starter), but it was resolved after resolve-url-loader was added.

[2017-08-02 07:36] Metnew commented on #42
Hi @TheDolo, hm, I didn't consider it like an issue, but you're right this needs some research for users that are interested in fixed Header. I think it's an "enhancement", not a "bug". Will try to figure out what's the problem.

[2017-08-02 07:58] TheDolo commented on #42
That's definitely an issue if the only fixed element allowed on the page is the sidebar!

[2017-08-02 08:35] Metnew commented on #42
Oh, I just misunderstood your sentence, ok, I'll investigate this case with fixed elements on the page (desktop), haven't seen this problem before.

[2017-08-04 18:13] ericis opened #43 "Lighthouse report link fails"
## **I'm submitting a bug
- [x] bug report
- [ ] feature request

### Bug Report:

- #### **What is the expected behavior?**

  Page shows a report.

- #### **What is the current behavior?**

  Page shows an error.

- #### **Steps to reproduce:**

  1. Click https://googlechrome.github.io/lighthouse/viewer/?gist=cd19fc335d4dc2abfbba10ee550bd0c8

[2017-08-04 21:21] sjl2024 opened #44 "Is there a reason why this doesn't use the Webpack DLL plugin in dev envs?"
I'm just curious if there's still a benefit in adding the Webpack DLL plugin to shrink build times during dev cycles? The reason I ask is because I'm not sure if it wouldn't be needed in this project because it already has something similar

[2017-08-04 22:27] robksawyer opened #45 "Help with Keystone Implementation"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:
It'd be nice to get a working example that implements KeystoneJS as an admin area. I've started this over at <https://github.com/robksawyer/keystone-react-template-mern/tree/feature/semantic-ui-implementation>, but I don't have the time to see get it fully functional.

- #### Is feature important in common us

[2017-08-04 22:48] Metnew commented on #45
Hi @robksawyer, It'd be really nice to get this implementation, I currently don't have plans on this, but I hope that someone wants to implement this skeleton = (semantic + this starter + keystone). really nice idea

[2017-08-04 22:48] #45 closed

[2017-08-04 22:50] Metnew commented on #44
Hi @sjl2024, I've not heard about Webpack DLL before. As I understand this plugin allows to reuse results of last compilation, it's unnecessary because there is already working HMR

[2017-08-04 22:51] #44 closed

[2017-08-04 22:52] Metnew commented on #43
Hi @ericis, thanks, I'll update this after new release, which is almost ready

[2017-08-05 16:56] #40 closed

[2017-08-05 17:14] Metnew commented on #27
@TheDolo probably fixed in https://github.com/Metnew/react-semantic.ui-starter/commit/364fa41d651ea97ca7b5019044ba7b505f47dbc8

[2017-08-05 17:14] Metnew commented on #38
@TheDolo  SSR was rewritten, should be fixed now

[2017-08-05 17:15] Metnew commented on #30
@TheDolo RouteAuth component was separated into LoadLazy component and RouteAuth component. So your issue should be resolved now

[2017-08-05 17:49] Metnew commented on #41
Hi @TheDolo, the app uses Lato font from Semantic. Semantic gets the fonts from Google Fonts. So probably it was your bug. Can you reproduce it?

[2017-08-05 19:53] TheDolo opened #48 "yarn run dev doesn't work"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
yarn run dev doesn't work

path = ('^' + path + (strict ? '' : path[path.length - 1] === '/' ? '?' : '/?'))
[FRONTEND]                                                ^
[FRONTEND]
[FRONTEND] TypeError: Cannot read property 'length' of undefined

- #### **Steps to reproduce:**
Git clone, yarn, yarn run dev

### Usef

[2017-08-05 19:56] Metnew commented on #48
Ok, I'll try, sorry I didn't test with yarn

[2017-08-05 19:57] Metnew commented on #48
Hm, It seems like it's a problem of Frontend -> problem inside the webpack config

[2017-08-05 20:02] TheDolo commented on #48
I'd use NPM but I'd never actually get to developing ;) ty!

[2017-08-05 20:03] TheDolo commented on #48
Hmm, exact same error using NPM!

[2017-08-05 20:03] Metnew commented on #48
Sorry, I forget to add remove fallback for `process.env.BASE_API` inside `/webpack_config/server.js`. Should be fixed right now.

[2017-08-05 20:03] #48 closed

[2017-08-05 20:04] TheDolo commented on #48
All good, you're awesome!

[2017-08-05 20:07] Metnew commented on #48
Also, env vars are very important for configuration :)

[2017-08-05 20:10] TheDolo commented on #48
Haha I was honestly too happy for the update, just wanted it to work, and new unfamiliar code got to me.  But as a boilerplate, the git clone, npm, npm run -> instant results is vital to the instant gratification and growing of stars :) cheers

[2017-08-05 20:10] #30 closed

[2017-08-05 20:21] Metnew commented on #48
Haha, thanks :)
I'm going to publish CLI for regular updates of this starter. No more `git clone` soon. Probably, it would be "next.js-like" but without any black voodoo magic inside the configuration.

[2017-08-05 20:26] TheDolo commented on #27
:( I have no sidebar on both dev and build, but I can still scroll.  I don't get why your online demo is fine!  Shift refresh doesn't help.  I dug up these up though!

https://github.com/Semantic-Org/Semantic-UI-React/blob/master/docs/app/Components/DocsLayout.js#L55

https://github.com/Semantic-Org/Semantic-UI-React/blob/master/docs/app/Components/Sidebar/Sidebar.js

[2017-08-05 20:33] Metnew commented on #27
@TheDolo, sorry can investigate your issue only in next 45 minutes :(

[2017-08-05 20:36] TheDolo commented on #27
Doesn't need to be today!  It probably affects everyone using this boilerplate, I'd be grateful for any fix any time you can for this one!

[2017-08-05 21:12] Metnew commented on #27
@TheDolo oh, I've just understood that you meant scrollbar, I didn't understand how sidebar can disappear from the page :)
Currently, I find only 3 ways to fix this problem:
1. use custom semantic.css build (bad solution)
2. use this scrollbar (bad solution)
3. hide scrollbar at all (right now the best solution)
I continue to investigate this issue, probably there is any better solution than just

[2017-08-05 21:13] #41 closed

[2017-08-05 22:15] TheDolo commented on #38
![image](https://user-images.githubusercontent.com/26640355/28999133-9589ddbe-79d7-11e7-84c5-4f4bc62361e0.png)

If you shift refresh on your demo, you'll find that!  Auth FOUC will be there too if not logged in.  (Not the end of the world, but more libs pronounces this).

[2017-08-05 22:23] Metnew commented on #38
@TheDolo  FOUC caused by Semantic.UI. SUI styles ~540KB - before they are downloaded only styled-components styles are active. I'm trying to follow Shell pattern, but not sure is it so easily possible.
Approximate improvements plan:
1. vendor.css and vendor.js must be separated into smaller files. Separate each file into 2 smaller chunks and download would be faster
2. Critical CSS path must be ex

[2017-08-05 23:29] TheDolo commented on #38
Wonderful, thank you for the explanation!

[2017-08-06 02:55] TheDolo opened #49 "SWs redirect user to /auth on refresh in production"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
Refreshing page on dashboard cycles through auth

- #### **Steps to reproduce:**
git clone, npm install, npm run build, npm run start

[2017-08-06 02:58] TheDolo opened #50 "Server is running on ${PORT} port never reached SSR"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
Server is running on ${PORT} port is never reached when running SSR.
      chalk.blue(`USER IS LOGGED IN: ${req.user.isLoggedIn ? 'YES' : 'NO'}`)
I never see these outputs in console on SSR.  The chalk blue one never.

- #### **Steps to reproduce:**
git clone, npm install, npm run build, npm run start

### Useful

[2017-08-06 03:20] TheDolo commented on #50
maybe it's stripped out?

[2017-08-06 03:51] TheDolo commented on #49
After integrating my own API server, all refreshes lead to auth page.

[2017-08-06 04:54] #50 closed

[2017-08-06 05:46] Metnew commented on #50
Hi @TheDolo, check this commit: https://github.com/Metnew/react-semantic.ui-starter/commit/518e3e6fa11de673ac20b135eaa9b96ab0a76c2d. You can strip `console.log` from your code using UglifyJS

[2017-08-06 05:49] Metnew commented on #49
@TheDolo, I found the probable error reason, it's because of auth middleware on the server. Something goes wrong with this middleware + cookies + SSR. Will be fixed as soon as possible, I agree it's a critical bug.

[2017-08-06 08:07] TheDolo commented on #49
P.S I found I needed a shift refresh between SSR builds, else even a new tab would load the old build.  I'd be in dev mode then build, and find the build was the older one. It's caught me off guard many times heh.  TY!!

[2017-08-06 20:41] Metnew commented on #49
@TheDolo I found the reason of this error. It was caused by invalid property name inside SSR's `preloadedState`. Server renders `{me:{auth:{isLoggedIn:true}}}`, but reducers work with `loggedIn` property.

[2017-08-06 21:50] TheDolo opened #53 "Bundle analyzer pauses build of server"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
Bundle analyzer pauses build of server.

Using
`base.plugins.push(new BundleAnalyzerPlugin({analyzerMode: 'static'}))
`instead.

[2017-08-07 23:56] Metnew commented on #53
Hi @TheDolo , thanks for your report, fixed in https://github.com/Metnew/react-semantic.ui-starter/commit/f8df4774aa30083505fe7038aae4108df860410a

[2017-08-07 23:56] #53 closed

[2017-08-08 00:08] Metnew commented on #38
@TheDolo probably problem would be solved after https://github.com/Metnew/react-semantic.ui-starter/issues/49 will be solved. There wouldn't be unnecessary re-rendering. But still, FOUC might be because of the huge semantic bundle. Also, I'm currently experimenting with separation of SUI bundle for faster content download with HTTP2.

[2017-08-08 01:00] TheDolo opened #54 "IE11 Support SSR"
## **I'm submitting a ...**

- [X] bug report
- [X] feature request

### Bug Report:
Demo is all messed up, it used to be fine a few builds ago in SSR :( . I was injecting babel-polyfill and whatg-fetch in the past at entry and it was all smooth sailing.  I saw you added some polyfill stuff, so I took your new refactor completely (maybe I'll try the old code, Im thinking this is webpack?  theres n

[2017-08-08 01:02] #54 closed

[2017-08-08 01:03] TheDolo commented on #54
Ignore ticket, I didn't see that "Promise is undefined" in IE11 console, it's there now.  Ez babel-polyfill fix.

[2017-08-08 01:28] Metnew commented on #49
@TheDolo It seems like the issue is caused by SWs fallBackURL, I disable OfflinePlugin and it works perfectly. [Try to check this deployment of app](https://react-semanticui-starter-oykikroyys.now.sh). Probably, when user requests app '/' path, server doesn't handle this because the request is handled by ServiceWorkers.

[2017-08-08 01:32] Metnew commented on #54
Do you use whatwg-fetch or isomorphic-fetch?

[2017-08-08 02:32] TheDolo commented on #54
I used whatwg-fetch because you did too in the past, but I'm gonna use isomorphic-fetch.  Whatwg-fetch worked fine when when at entry point and babel-polyfill there too.

[2017-08-08 02:54] Metnew commented on #54
isomorphic-fetch is 150kb, it was included in client build by mistake, don't use it, it will be fixed asap.

[2017-08-08 03:21] Metnew commented on #49
https://github.com/Metnew/react-semantic.ui-starter/pull/56 includes patch for this issue

[2017-08-08 03:23] #49 closed

[2017-08-08 03:26] Metnew opened #57 "Provide better OfflinePlugin config"
Current config was developed as a patch for https://github.com/Metnew/react-semantic.ui-starter/issues/49. App needs more smart/optimized SWs configuration.

[2017-08-08 16:21] Metnew commented on #57
fixed in https://github.com/Metnew/react-semantic.ui-starter/pull/60

[2017-08-08 16:21] #57 closed

[2017-08-08 18:57] emzero opened #61 "Can't install npm packages on Windows"
I've cloned the master branch and I'm getting an error when doing `npm install` or `yarn install`.

[code]

I assume this has something to do with `node-gyp` (which is a dependency of `node-sass`) which needs python to run.
It would be great if we didn't need python installed in a node.js project.
I understand that `node-sass` is probably being used to parse the sass files in the server for SSR. B

[2017-08-08 20:04] Metnew commented on #61
Try to use `yarn install`. Issue probably was caused by `lqip-loader` which is an optional dependency.

[2017-08-08 21:25] #61 closed

[2017-08-09 03:19] TheDolo commented on #41
Sorry, forgot about this one!  Seems fixed, unable to reproduce.

[2017-08-09 16:35] Metnew commented on #38
@TheDolo do you still get FOUC on page loading?

[2017-08-09 19:36] TheDolo commented on #38
I'll have to refactor your current updates in, I'm a few days behind your commits.  I can't get your demo to show it, so thats good.  Will follow up in a day or two.  Still having problems with every page refresh going back to auth page since your new refactor in SSR + using my own endpoints for auth.

[2017-08-09 20:08] Metnew commented on #38
Shifting to `/auth` was caused by invalid configuration provided to OfflinePlugin, so right now it's fixed.
Also, I recommend you to check [dev branch](https://github.com/Metnew/react-semantic.ui-starter/tree/dev) because of new features:
1. Webpack_config was rewritten in es6
2. Webpack configuration that is used by both apps for both development and production was extracted to `webpack_config/we

[2017-08-09 21:31] TheDolo commented on #38
Yup, FOUC after deploying to a live server.  Will get your new updates in a few days and report back!  I've gotten good at swapping out all code except my custom routes, reducers, and containers (and some minor code there).  It's actually pretty painless!

[2017-08-09 21:43] Metnew commented on #38
CLI will be soon, sorry, have a lot of work on docs.
I hope you figure out what the hell is currently in `/webpack_config`. There were some changes to make code follows DRY principle.

[2017-08-09 22:05] TheDolo commented on #38
Heh yea docs for sure first.  At this point I understand nearly all your code, but that did take a while!   I love what you did with webpack_config vs the last refactor!  +2000 points for the GA/Sentry integrations.

[2017-08-09 22:10] Metnew commented on #38
[docs folder](https://github.com/Metnew/react-semantic.ui-starter/tree/master/docs).
Maybe the starter needs more integrations, what do you think about it?
Also, I didn't understand (sorry for bad English). Is last update of webpack_config not so good?

[2017-08-09 22:12] TheDolo commented on #38
Np!  I love what you did with webpack_config this time around versus the last refactor! (Much better than before)!  I was actually going to request a GA integration, it's almost always a requirement, and the Sentry was just the topping on the sundae.  What other major services are there?  Minds blank!

[2017-08-09 22:26] Metnew commented on #38
Hah, thanks :)
Right now only Sentry and GA for the client, but Sentry for the server is very soon.
I currently think about the styleguide for the folder structure. I got some problems in a similar project, where my friend and I used a lot of relative imports (e.g. `import {lol} from 'almost-a-root-dir' `). And we have had many circular dependencies until today.

So, maybe this doc about avoiding

[2017-08-10 04:00] adanielyan opened #62 "No webpack source maps in dev tools"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
<-- Remove this section if it isn't a bug -->
I run `npm run frontend_dev` command. Then open dev tools in chrome.

- #### **What is the expected behavior?**
In the past under Sources tab there was a Webpack folder with all of the source files available for debugging
- #### **What is the current behavior?**
No Web

[2017-08-10 04:16] adanielyan commented on #62
Never mind, it was a browser issue. After restarting chrome I can see the source files again.

[2017-08-10 04:16] #62 closed

[2017-08-10 04:28] TheDolo commented on #38
Style guide is perfect, I was a bit confused on how to use scss in the project properly.

Plugs: Further integration of GA into your route system would be nice!  And maybe official 'guest' routes, and the sidebar only shows certain routes if guest. And maybe.... :D

[2017-08-10 18:49] billymcintosh commented on #42
This is the culprit in semantic-ui-css module _node_modules/semantic-ui-css/semantic.css_ starting around line:34342

[code]
```pusher``` and ```fixed``` classes don't like the translate3d because of the co-ordinate shift it causes.

I'll look into a fix.

[2017-08-11 00:13] sjl2024 opened #64 "`npm run frontend_dev` broken in master?"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

- #### Is feature important in common use cases?
yes. `npm run frontend_dev` is failing in master. Bundle can't be compiled

### Bug Report:
- #### **What is the expected behavior?**
Bundle built, HMR loaded, client bundle served

- #### **What is the current behavior?**
[code]

- #### **Steps to reproduce:**

  1. Check out late

[2017-08-11 01:49] Metnew commented on #64
Hi @sjl2024 , probably you don't have some system libraries required by `img-loader`. It looks like it's [`mozjpeg`](https://github.com/mozilla/mozjpeg). You need to install it using `brew` or just to remove `img-loader` from loaders.

[2017-08-11 01:49] #64 closed

[2017-08-11 14:06] Metnew opened #65 "OfflinePlugin configuration"
I'm still getting some problems when it comes to OfflinePlugin configuration for universal apps with auth. The current implementation works, but better OfflinePlugin config can make it works even better. Can anyone help with it?

[2017-08-11 23:23] TheDolo commented on #38
Refactoring and testing your latest commits tomorrow morning!

[2017-08-11 23:25] TheDolo commented on #65
I have my head down due to a deadline later this month, but I plan to help contribute beyond testing/bug fixes in the future :)  I'll probably remove the offline plugin if auth problems continue.  Also the whole shift refresh needed after deploying a new live SSR build is a problem when pushing to clients who don't expect to need a shift refresh.  I will test this with the new build!

[2017-08-11 23:29] Metnew commented on #65
Thanks @TheDolo , It looks like auth problems are now closed, but I still a little confused when it comes to OfflinePlugin configuration. It seems like the current config is right, but still, it needs review

[2017-08-11 23:37] Metnew opened #67 "Move from styled-components to Emotion"
Styled-components currently is not the best solution when it comes to performance. What do you think about using [Emotion](https://github.com/tkh44/emotion) instead of styled-components? It has similar API, works with SSR and has better performance. [More info](https://medium.com/@tkh44/emotion-ad1c45c6d28b)
Example with `emotion`: [here](https://github.com/tkh44/emotion/blob/master/example/src/ma

[2017-08-11 23:52] Metnew opened #68 "Move from custom <LazyLoad> to react-universal-component"
Currently, lazy-loading works using LazyLoad component, which is custom + very minimalistic. I think it would be better to make maintained package responsible for lazy-loading. [react-universal-components](https://github.com/faceyspacey/react-universal-component) has lazy-loading out-of-box and provides cool additional options. But personally, I see a problem in `react-universal-component`s hard-d

[2017-08-11 23:55] Metnew opened #69 "Add AutoDLL webpack-plugin"
[AutoDLL webpack-plugin](https://github.com/asfktz/autodll-webpack-plugin) can boost the speed of webpack compilation.

[2017-08-11 23:59] Metnew opened #70 "Add react-a11y"
Add [react-a11y](https://github.com/reactjs/react-a11y) and [eslint plugin for a11y](https://github.com/evcohen/eslint-plugin-jsx-a11y).

[2017-08-12 00:44] Metnew opened #71 "SSR: generate index.html using WebpackStats"
Currently, SSR works in a very simple way, the server reads `index.html` inside frontend dist folder. And use this file as a template to generate SSRed html. Using WebpackStats would be better, but I don't know how it works with FaviconsWebpackPlugin/PreloadWebpackPlugin and other plugins that inject data/tags/attributes in `index.html`. What do you think about it?

[2017-08-12 21:51] TheDolo commented on #69
This seems too good to be true! +2

[2017-08-12 22:14] Metnew commented on #42
@TheDolo you can use `<Rail>` and `<Portal>` components if you need to render something outside the main container. Probably, it can be used as a temporary fix until the better solution. Also, maybe in your case Portal/Rail is the best solution.

[2017-08-12 23:29] #38 closed

[2017-08-12 23:30] TheDolo commented on #49
Fixed for me! Thank you.

[2017-08-14 03:04] adanielyan commented on #64
`brew install libpng` solved the issue on my mac.

[2017-08-14 03:23] adanielyan opened #72 "Component names are replaced in React dev tools"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
In React dev tools the component names are "minified".

- #### **What is the expected behavior?**
To see component names as they were coded.

- #### **What is the current behavior?**
The react component names are minified.

- #### **Steps to reproduce:**

  1. Run `npm run frontend_dev`

  2. Open React dev tools

[2017-08-14 03:25] adanielyan commented on #72
![image](https://user-images.githubusercontent.com/861777/29257278-9dad246c-807e-11e7-9071-4d6eed448ce2.png)

[2017-08-14 13:33] Metnew commented on #72
Try to unregister Service Workers + remove your cache.

[2017-08-14 23:29] #72 closed

[2017-08-14 23:32] Metnew commented on #67
After some research I didn't find any serious reasons to move from styled-components to emotion. Emotion's good performance is really good only in "extract mode", which isn't supported in some browsers (IE11). Conclusion: the project continues to use styled-components.

[2017-08-14 23:32] #67 closed

[2017-08-14 23:57] adanielyan commented on #72
Thank you for advice. Unregistering service worker solved the issue.

[2017-08-15 04:58] TheDolo opened #73 "Add redux-persist"
## **I'm submitting a ...**

- [ ] bug report
- [X] feature request

### Feature Request:
Integrate redux-persist.
https://github.com/rt2zz/redux-persist

- #### Is feature important in common use cases?
Yes.  Refresh browser is a common use case.

- #### Describe requested feature:
A simple redux persist implementation working over SSR.

[2017-08-15 18:34] Metnew commented on #73
Hi @TheDolo, I didn't have much time to investigate redux-persist. But after first look - probably, it would be in the next release.

[2017-08-16 22:12] gubagu opened #75 "Project doesn't build on Windows"
## **I'm submitting a bug report**

### Bug Report:

- #### **What is the expected behavior?**
npm run build should build the front en and the server

- #### **What is the current behavior?**
npm build fails
- #### **Steps to reproduce:**
execute npm run build

### Useful Info:
- #### Your environment:
  - Node version: 6.9.4
- NPM version: 3.8.0
  - OS: Windows 10

- #### **Other information**
[n

[2017-08-16 23:35] Metnew commented on #75
Hi @gubagu
I didn't test the project on Windows. But as I heard it works.
Could you share your env variables for a build? Does it work in dev mode (e.g `npm run dev`)?
Did you built the project from the master branch or applied some modifications(custom code)?

[2017-08-17 00:01] gubagu commented on #75
Hi @Metnew ,

Just updated node to 8.4.0 and npm to 5.3.0 to try again with fresh versions the result `npm run dev`  is similar to `npm run build`.
About the env variables I haven't set any till now. I pulled the master branch and did not change anything. Was my first attempt to have a look @ the starter.

[code]

[2017-08-17 00:06] Metnew commented on #75
Oh, I just understand that there is no "rm" on windows
Take a look at:
[code]

Try to change [this line](https://github.com/Metnew/react-semantic.ui-starter/blob/master/webpack_config/server/webpack.base.js#L21) to something Windows-compatible. E.g:  to do something with `rm` command on Windows.

Do you use git bash on Windows?

[2017-08-17 00:07] Metnew commented on #75
I'll push fixes for this issue in next release.

[2017-08-17 00:14] gubagu commented on #75
Thanks for your swift answer. Actually by using git bash builds better than on latest ubuntu. On ubuntu is a problem with a png library. Anyway running build commands through git bash resolved the issue.
Thanks a bunch for the tip was too focused on fixing the code

Cheerz, Guby

[2017-08-17 00:20] Metnew commented on #75
About img library - check this [issue](https://github.com/Metnew/react-semantic.ui-starter/issues/64#issuecomment-321716187).
Thanks for your issue @gubagu 👍
I reopen the issue because I need to keep in mind that the project provides bad experience for Windows users.

[2017-08-17 02:01] #75 closed

[2017-08-17 09:11] neslinesli93 opened #76 "Support for Headroom for hiding header depending on scroll direction"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:
Hi, I love this starter and it's been very useful to me so far.
I was wondering how to add support to the library [react-headroom](https://github.com/KyleAMathews/react-headroom).
It seems like it's just about wrapping the header component with `<Headroom>`, but the result is that the header just remains fixe

[2017-08-17 10:31] Metnew commented on #76
Hi @neslinesli93
There is a similar issue about fixed elements on the page - https://github.com/Metnew/react-semantic.ui-starter/issues/42 .
I was searching for this library some time ago. I'm going to integrate this into my own app. So, If I find a solution I will let you know.
Thanks for your feedback, it's very helpful :)

[2017-08-20 05:00] nate0001 opened #77 "Replace i18n-webpack-plugin with react-i18next"
## **I'm submitting a ...**

- [ ] bug report
- [X] feature request

### Feature Request:

- #### Is feature important in common use cases?

Yes as i18n is already implemented in a fashion.

- #### Describe requested feature:

The current i18n library is webpack based and can only display the language it was built with. The react-i18next library is one of the most robust i18n libraries for react.

[2017-08-20 11:48] Metnew commented on #77
Hi @nate0001 , I agree with your probably it'd be better move to a library like i18next. But there is the next issue: How is it good for performance?

If I understand correctly this lib replace text in runtime. So it requires additional time to render the page.

[2017-08-21 16:23] neslinesli93 opened #79 "Demo broken on IE11. Object.assign..."
## **I'm submitting a ...**

- [x] bug report
- [x] feature request

### Bug Report:
Demo is currently broken on IE11, with the message `object doesn't support property or method 'includes'`

[2017-08-21 16:44] Metnew commented on #79
Hm, ok will be fixed. Probably it's about `Array.inludes`

[2017-08-21 17:08] neslinesli93 commented on #79
Actually just adding `babel-polyfill` to webpack config.entry production bundle may have solved the problem. However, it does not work in dev mode: after some research, it seems there is conflict between react hot loader and babel-polyfill module...

[2017-08-21 22:40] nate0001 commented on #77
If you follow the best practices, performance hits are very minor.

With the current library, you can only select the language during webpack build. This makes having translations pretty useless as they can't be changed on the fly.

[2017-08-22 00:17] Metnew commented on #77
Hm, what do you think about [react-intl](https://github.com/yahoo/react-intl)?

[2017-08-22 01:05] Metnew commented on #77
What do you think about [react-intl](https://github.com/yahoo/react-intl)? @nate0001

[2017-08-22 03:28] nate0001 commented on #77
react-intl looks like something to be used alongside an i18n library, right? So you can get plurals, numbers, dates, etc formatted correctly. I've used the FormatJS library that react-intl uses. It's a nice library.

Looks like i18next make it easy to plugin for number formating, interpolation, passing in objects, etc.

[2017-08-22 12:22] billymcintosh commented on #42
Sorry, people.  Not quite had the time yet.

[2017-08-22 12:50] Metnew commented on #77
React-intl is a complex i18n library, but react-i18next seems easier to integrate and has a simple API. So I'm going to integrate react-i18next.

[2017-08-23 00:30] RuiWangGit opened #81 "how do you run frontend alone in prod"
the repo looks great. But seems npm start run only in server mode at 4000. Any idea how I can run client app at port 3000 in product mode?

[2017-08-23 04:24] Metnew commented on #81
@RuiWangGit add in your package.json next lines:

[2017-08-23 04:26] Metnew commented on #81
add to your `scripts` in package.json:

[2017-08-23 04:27] #81 closed

[2017-08-24 17:46] thecloudslayer commented on #5
i'm sitll here like wuuut is npm run db. ha

[2017-08-24 17:54] Metnew commented on #5
DB was removed. `npm run db` was a command that powers json-server.
If you stuck at login then try to unregister Service Workers.
Are you using current master branch?

[2017-08-29 10:40] NinoMaj opened #83 "Deploying to Heroku"
Anyone know how to deploy this to Heroku?
What config I need to set and what needs to be in Procfile, i tried web web: node dist/server/en and I got this error:
Starting process with command `node dist/server/en`
2017-08-29T05:16:56.647610+00:00 app[web.1]: Application is working without SSR
2017-08-29T05:16:56.646304+00:00 app[web.1]: Are you sure you have already built app? Error: ENOENT: no suc

[2017-08-29 17:49] Metnew commented on #83
Hi @NinoMaj
Someone already asked me about that by email, as I understand the solution is:

Probably you have the same problem with PORT.
Also, you need to run `npm run build` before `npm run start`

[2017-08-29 20:33] NinoMaj commented on #83
No luck.
I have this package.json "heroku-postbuild": "npm run build" so it should be build.
I changed all instance of PORT to process.env.PORT || 8000.

This is my heroku env:
APP_LANGUAGE: en
BASE_API: /api/v1
DIST_PATH: /dist/client/en
JWT_SECRET: secrect
NODE_ENV: production
NODE_MODULES_CACHE: false
NPM_CONFIG_PRODUCTION: false
PORT: 8000

[2017-08-30 00:25] RuiWangGit opened #84 "get request not working, but post is fine"
hi team, any idea why my get request '/api/v1/users/test' not working on port 3000, but it is fine on 4000. With the frontend dev mode, it always tried to render me back html rather than json. It seems the ajax request never reaches the server(4000). I also tried to use axios to replace node-fetch, getting same result. I am using the master branch.

[2017-08-30 00:30] RuiWangGit commented on #84
<img width="749" alt="screen shot 2017-08-29 at 5 30 31 pm" src="https://user-images.githubusercontent.com/10441540/29850081-cd737508-8cdf-11e7-92eb-eb385451f5b7.png">

[2017-08-30 00:37] RuiWangGit commented on #84
found my issue. the following snippet hijacked all my get requests.

/********
app.get('*', (req, res) => {
  devMiddleWare.waitUntilValid(() => {
    const html = mfs.readFileSync(file)
    res.end(html)
  })
})

[2017-08-30 00:37] #84 closed

[2017-08-30 06:07] Metnew commented on #83
Can't suggest you anything else because of lack experience with Heroku, probably someone else can recommend you something

[2017-08-31 21:28] NinoMaj commented on #83
I managed to pulled it off. As you said I need it to remove all port instances not just replace them with process.env.PORT.

[2017-08-31 21:28] #83 closed

[2017-09-03 15:22] malixsys commented on #77
There is also https://github.com/oklas/intl-webpack-plugin

[2017-09-11 00:26] TheDolo opened #87 "Versioning/Releases"
## **I'm submitting a ...**

- [ ] bug report
- [X] feature request

### Feature Request:
Eagerly awaiting to update my months old boilerplate!

Version numbers please, I think I'm at the latest 3.0.0 something but maybe start doing 3.1, 3.2 etc or use Releases :)

P.S.  https://zeit.co/metnew/react-semanticui-starter/cemzgtoknb?redirect=1 is down

[2017-09-12 00:01] Metnew commented on #87
You're 100% right. Work is in progress in `dev` branch. Shortly about versioning: major update will be very soon and it'll be a 1.0.0. Project will follow semver after this release.

[2017-09-13 00:57] #87 closed

[2017-09-13 19:44] #68 closed

[2017-09-13 20:41] Metnew opened #90 "Include universal-analytics instead of current GA implementation"
Link: [universal-analytics](https://github.com/peaksandpies/universal-analytics)

[2017-09-14 07:26] quanghoc opened #91 "Enable console.log when npm run start"
How to re-enable console.log when `npm run start`? I need to be able to get all logs during integrated test.

[2017-09-14 09:21] Metnew commented on #91
Hi @quanghoc , just set `drop_console` option of UglifyJsPlugin to `false`:
[code]

[2017-09-14 16:37] quanghoc commented on #91
I tried this and it didn't work for me. Clear cache and everything. Could you please check?

[2017-09-14 17:31] Metnew commented on #91
Did you disable it either for server or client?  Make sure that you removed SWs. I'll check it asap

[2017-09-14 17:36] quanghoc commented on #91
There is one place in webpack.prod.babel.js but that's probably not it. Let me know which one is the correct file.

[2017-09-14 17:38] Metnew commented on #91
For client or server?

[2017-09-14 17:48] Metnew commented on #91
it works for me. Make sure that you comment [right line](https://github.com/Metnew/react-semantic.ui-starter/blob/master/webpack_config/client/webpack.prod.babel.js#L94)

[2017-09-14 18:03] quanghoc commented on #91
This is for client. If I do console.log in common/containers/Dashboard/, nothing shows in the browser. It's not the code because it works when I do `npm frontend_dev` but not when `npm run start`

[2017-09-14 18:05] Metnew commented on #91
Try comment this line, then rebuild app, then open in the browser with no registered SWs and cleared cache. It should work.

[2017-09-14 18:11] quanghoc commented on #91
I accidentally modified the server file the whole time.. LOL My bad. It works now.

[2017-09-14 18:45] #91 closed

[2017-09-14 18:47] Metnew commented on #91
Also, @quanghoc , recommend you to check the [`dev` branch](https://github.com/Metnew/react-semantic.ui-starter/tree/dev). It lacks docs, but has more features (it's even better than some old well-known starters). WIP.

[2017-09-17 05:12] TheDolo commented on #90
https://github.com/react-ga/react-ga ?

[2017-09-17 12:12] Metnew commented on #90
@TheDolo , react-ga is even better solution 👍

[2017-09-18 04:09] TheDolo commented on #90
If you have time, I'd really appreciate a bare basic implementation of their API over the examples routes/pages as a starting guide for us.  Thank you!!!

[2017-09-18 21:02] Metnew commented on #90
@TheDolo , probably after the first release, but of course not now

[2017-09-20 01:51] TheDolo opened #93 "Malformed JWT not handled"
## **I'm submitting a ...**

- [X] bug report
- [ ] feature request

### Bug Report:
Quite an edge case :) actually not sure how another domains localStorage got into mine, but...
Malformed JWT not handled.

- #### **What is the expected behavior?**
Malformed JWT resetsLocalToken() and takes you to login page.
I used https://github.com/auth0/jwt-decode and a try/catch loop.

- #### **What is the c

[2017-09-20 02:01] Metnew commented on #93
Hi @TheDolo, thank you for the report, I'll investigate this case

[2017-09-20 18:06] vmundhra opened #94 "Errors in installation"
Hi,

None of the commands are working during installation. There are errors.

ERROR in ./static/images/daniel.jpg
Module build failed: Error: dyld: Library not loaded: /usr/local/opt/libpng/lib/libpng16.16.dylib
  Referenced from: /Users/opencrowd/Workspace/React/practice-apps/react-semantic.ui-starter-master/node_modules/mozjpeg/vendor/cjpeg
  Reason: image not found

    at Promise.all.then.arr

[2017-09-20 20:39] Metnew commented on #94
Hi, @vmundhra, it's duplicate of https://github.com/Metnew/react-semantic.ui-starter/issues/64

[2017-09-20 20:39] #94 closed

[2017-09-29 06:31] JPaveg opened #99 "Project Fails to Run"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
Running npm run dev leads to both the server and frontend CLI tags reporting a crash.

[code]
- #### **What is the expected behavior?**
For the app to start and run as expected.

- #### **What is the current behavior?**
Multiple errors produced.

- #### **Steps to reproduce:**

  1. clone repository

  2. yarn/npm

[2017-09-29 06:36] quanghoc opened #100 "npm install failed in dev"
In `dev`, I got this:

[code]

[code]

[2017-09-29 06:48] #100 closed

[2017-09-29 07:13] quanghoc opened #101 "Error: listen EADDRINUSE :::3000 in dev"
I got the same error in `dev` regardless of port number I change in `./webpack_config//config.js`

For example:

[code]

`npm run start` then got this error:

[code]

[2017-09-29 07:15] quanghoc opened #102 "Cannot find module 'react-dom/lib/DOMProperty' in master"
`Master` has this error after `npm run build` and `npm run start`

[code]

[2017-09-29 07:29] quanghoc opened #103 "npm run frontend_dev error with This dependency was not found: * react-dom/lib/ReactPerf in ./node_modules/react-addons-perf/index.js"
This is on `master` and the build was fine with `npm run frontend_build`

[code]

But error when I run `npm run frontend_dev`

[code]

This is in the browser:

[code]

[2017-09-29 11:33] Metnew opened #104 "Accidentally update react and react-dom to 16.0"
Sorry, branch with react 16 was accidentally merged to master and that caused fail.

[2017-09-29 11:33] #104 closed

[2017-09-29 11:34] Metnew commented on #102
https://github.com/Metnew/react-semantic.ui-starter/issues/104

[2017-09-29 11:34] #102 closed

[2017-09-29 11:34] Metnew commented on #99
https://github.com/Metnew/react-semantic.ui-starter/issues/104

[2017-09-29 11:34] Metnew commented on #103
Probably was caused by https://github.com/Metnew/react-semantic.ui-starter/issues/104

[2017-09-29 11:34] #103 closed

[2017-09-29 11:39] Metnew commented on #101
Hi @quanghoc, currrently dev branch get ports for server from `src/server/index.js` and `src/server/index.dev.js`. And there is an error - https and http both use process.env.PORT. Will be fixed in dev branch soon. Thanks for the issue

[2017-09-29 12:54] #99 closed

[2017-09-29 15:17] quanghoc opened #105 "/users/:id broken in frontend"
`npm run start` and then navigating to `http://localhost:4000/users/1` will result in below error in browser console and blank page:

[code]

However `npm run dev` works fine!

[2017-09-29 15:37] JPaveg commented on #104
Ah okay, thank you for the quick reply!

[2017-09-29 15:38] Metnew commented on #105
Try temporarily set `lazy:false` and `component: UserItem` instead of `component: lazyloadFunc()`  for UserItem route in routing.
Issue probably is caused by Server side rendering of lazy route.

[2017-09-29 16:15] quanghoc commented on #105
No error but blank page.

[2017-09-29 19:32] adanielyan commented on #105
I have the same/similar issue, but only with **production** build. When I disable lazy load the problem goes away.

[2017-09-29 23:12] Metnew commented on #105
@quanghoc  Are you sure you've removed all lazy-loading stuff from this route in `routing.js` ?

[2017-09-30 06:44] quanghoc commented on #105
Work now. I missed this in `common/containers/index.js`

[code]

[2017-09-30 20:01] adanielyan commented on #105
Can you please provide more details on this? Is there an easy way to fix this without disabling lazy loading?

[2017-10-05 10:15] panzupa opened #109 "Authentication with Auth0"
## **I'm submitting a ...**

- [ ] bug report
- [ x] feature request

Hi Metnew,

First of all thanks for great template for website.

I've got a problem with combining Auth0 lock with your framework. I have added lock to the login component however I don't now how to nicely integrate it with your code.

Could you please explain how should I do that properly, so I don't break a logic of your code?

[2017-10-05 12:45] Metnew commented on #105
Hi @adanielyan sorry for a late response. Currently, have no possibility to answer, I'll respond later today/tomorrow (and finally ship next version, for sure)

[2017-10-15 15:52] groovypark opened #113 "Error: in ./static/images/daniel.jpg"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

I followed install description step by step, and I found the error when I executed `npm run dev`. The error messages are as follows.

## Terminal
[code]

## Browser
[code]

[2017-10-16 00:25] Metnew commented on #113
[code]
Hi, you have to install libpng for img-loader

[2017-10-16 00:25] #113 closed

[2017-10-19 02:25] Metnew commented on #101
Fixed in `dev` branch

[2017-10-19 02:25] #101 closed

[2017-10-21 16:54] wi-ski opened #115 "Adding any api route that isn't POST wont work with current architecture."
hi there - after building the app and looking around:

At least in dev mode, the way you have the wepback proxy server configured, you cant make any "GET" requests to the api route you have setup.

do you have a plan for addressing that?  I can make a patch if youd like, looking to pick someone's brain on how to best do.

[2017-10-21 16:56] wi-ski commented on #115
Annnnnd nice work on this thus far. :+1:

[2017-10-22 19:53] Metnew commented on #115
Hi @wi-ski, can u check dev branch? I'm still working on it. It requires only both SSR for lazy-loaded routes for production release, but without lazy-loading it works perfectly.

[2017-10-22 19:55] Metnew commented on #115
Also, I've already seen a similar issue here and it was resolved somehow. I'm going to find it

[2017-10-23 05:41] Metnew commented on #115
Check this issue, please: https://github.com/Metnew/react-semantic.ui-starter/issues/84

[2017-10-26 14:54] wi-ski commented on #115
Roger roger. ill take a peak n' throw up PR need be :)

[2017-11-04 18:47] Metnew commented on #90
`react-ga` added in `1.0.0`

[2017-11-04 18:47] #90 closed

[2017-11-04 18:48] Metnew commented on #105
Hi guys, LL was rewritten with `react-async-component` + /users/:id route removed. Now every route is lazy, also.

[2017-11-04 18:48] #105 closed

[2017-11-04 18:49] Metnew commented on #42
Page structure was improved + react-headroom was added. Now anything can be fixed/statis/relative/etc. Anything supported.

[2017-11-04 18:50] #71 closed

[2017-11-04 18:53] Metnew commented on #77
`i18n-webpack-plugin` was replaced by `react-intl`. It's more advanced than react-i18next, check `src/server/i18n` for more info

[2017-11-04 18:53] #77 closed

[2017-11-04 18:53] Metnew commented on #69
Added

[2017-11-04 18:53] #69 closed

[2017-11-04 18:53] #70 closed

[2017-11-04 18:54] Metnew commented on #76
`react-headroom` integrated

[2017-11-04 18:54] #76 closed

[2017-11-04 18:57] Metnew commented on #93
Now server removes token from cookies if JWT is invalid:
https://github.com/Metnew/suicrux/blob/master/src/server/middlewares/auth.js#L34-L36

[2017-11-04 18:57] #93 closed

[2017-11-04 18:58] Metnew commented on #115
Hi @wi-ski, can you check new release? Probably, you're issue is solved

[2017-11-04 18:59] Metnew commented on #79
Hi @neslinesli93 , can you check is your issue still reproducible?

[2017-11-04 19:02] Metnew commented on #73
Redux-persist is useful only in certain conditions but not in common cases. So if you want to integrate `redux-persist` - check this commit https://github.com/Metnew/suicrux/commit/1c439ebec54e3ebc01e07ff6b6986ddaace8cf6c for more info.

[2017-11-04 20:04] neslinesli93 commented on #79
Yep, now it complains about `assign` not being a property of Object

[2017-11-04 20:08] neslinesli93 opened #119 "Big change, including the rename of the project and what else"
Hi, first of all this is not an issue. I've been using this starter for a couple months, and I've been following the development since its early days.
I was wondering what new features have been introduced with this new version, which happened to include a project rename as well.
Keep up with the good work!

[2017-11-04 20:28] Metnew commented on #79
Hm, strange... Probably, something with babel. Thanks for check 👍

[2017-11-04 20:37] Metnew commented on #119
First of all - thank you @neslinesli93 👍 ❤️
I shortly described changes here - https://github.com/Metnew/suicrux/releases
But you're right, so let's describe it deeper.
(Comment will be updated)

[2017-11-04 23:03] Metnew commented on #109
Hi @panzupa ,
I apologize for a late response :(

Use redux for this.
1. Make response with data to Auth0 (e.g.  dispatch async action LOGIN_AUTH_AUTH0)
2. Get result
3. Set token in redux state
4. Get token from state in Login container (using mapStateToProps)
5. in Login's componentWillReceiveProps: if token exists -> dispatch another async action (e.g. LOGIN_AUTH)
6. probably, that's all

[2017-11-04 23:03] #109 closed

[2017-11-04 23:23] Metnew commented on #27
Hi @TheDolo @PharrellWANG
I can't reproduce the issue, is it still actual?

[2017-11-04 23:45] neslinesli93 commented on #119
Woah, this is huge! Hope to get a chance to look through the new stuff asap

[2017-11-05 02:16] Metnew commented on #119
Comment duplicated in "Releases" section

[2017-11-05 02:19] Metnew opened #122 "Make a GIF showing interaction with app"

[2017-11-05 22:05] Metnew commented on #115
POST works in [`AuthSvc`](https://github.com/Metnew/suicrux/blob/master/src/common/api/AuthSvc/index.js#L9-L11), so issue is probably closed

[2017-11-05 22:05] #115 closed

[2017-11-05 22:09] Metnew commented on #27
Looks like scrollbar styles were removed from SUI core

[2017-11-06 20:37] #27 closed

[2017-11-09 16:22] RavibabuK opened #129 "`npm run dev` does nothing, leaves no output or debug log in windows 10"
## **I'm submitting a ...**

- [ ] bug report

First of all, Thanks for the wonderful framework for React which is helpful for people who is trying to start the project like me.

 I am not getting any output after run the command "npm run dev".

  1. I have clone the project to local space and installed dependencies by running 'npm install'
  2. Then i run 'npm run dev' command to startup developm

[2017-11-09 18:07] Metnew commented on #129
Hi @RavibabuK , thanks for your interest, but I didn't test it on Windows :(
Try to run it under git bash for Win, maybe it could resolve problem

[2017-11-10 01:07] Metnew commented on #79
Should be fixed in https://github.com/Metnew/suicrux/pull/130.

[2017-11-10 01:07] #65 closed

[2017-11-10 01:07] #73 closed

[2017-11-10 08:03] RavibabuK commented on #129
Hi @Metnew , not working with git bash too. I am not receiving any output like above screenshot.

[2017-11-10 10:19] Metnew commented on #129
@Ravibabuk Could you try to run the latest release(may fix this issue) and update node to 8 or 9 ?

[2017-11-10 12:28] RavibabuK commented on #129
I've tried with node 8.9.1 and latest release of suicrux, however i'm facing the same issue. I've changed dev script in package.json from "NODE_ENV=development babel-node ./src/server/index.dev" to "SET NODE_ENV=development babel-node ./src/server/index.dev.js" as i'm running this script in windows. Am i executing right script?

[2017-11-10 12:46] Metnew commented on #129
I've just added `cross-env`, it may fix your issues

[2017-11-10 14:48] RavibabuK commented on #129
Yes, now i can see the below error atleast with cross-env fix.

D:\ReactProjects\suicrux>npm run dev

SERVER IS LISTENING ON http://localhost:3000
AutoDllPlugin: is valid cache? false
AutoDllPlugin: cleanup
AutoDllPlugin: compile
{ Error: invalid argument
    at pathToArray (D:\ReactProjects\suicrux\node_modules\autodll-webpack-plugin\node_modules\memory-fs\lib\MemoryFileSystem.js:44:10)
    at Me

[2017-11-10 15:04] Metnew commented on #129
At least some progress :)
Did you modify sources?

[2017-11-10 15:21] #79 closed

[2017-11-10 16:09] RavibabuK commented on #129
No, i didn't modify any sources. I am trying to run the app as it is after clone.

[2017-11-10 17:15] Metnew commented on #129
Ok @RavibabuK I'll investigate it detailed as soon as possible, but I don't have Win 10
Try to comment AutoDllPlugin: [these lines](https://github.com/Metnew/suicrux/blob/master/webpack_config/client/webpack.dev.babel.js#L48-L55)

[2017-11-11 15:51] RavibabuK commented on #129
App is running now after commenting AutoDllPlugin. Thanks @Metnew

[2017-11-11 16:47] Metnew commented on #129
@RavibabuK cool :)
I'm going to submit this issue to AutoDLL repo

[2017-11-11 16:47] #129 closed

[2017-11-11 20:46] MarcBouchard opened #135 "Missing "<Props, State>" when static typing components with Flow."
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
Hello Vladimir,

I've been using the previous version of this project for about a month now and wanted to thank you for all your great work so far! I learned a lot while reading through the code in this repo.

- #### **What is the current behaviour?**
While reading through the new code, I noticed that Flow throws

[2017-11-11 22:01] Metnew commented on #135
Hello @MarcBouchard,
Thank you for your feedback and interest :)
Flow team regularly change React API, sometimes even official Flow docs are incorrect. I'm going to investigate your changes as soon as possible. Thanks for PR!

[2017-11-11 22:07] MarcBouchard opened #137 "Use arrow functions as event handlers for Login and RoutingWrapper"
## **I'm submitting a ...**

- [ ] bug `report`
- [x] feature request

### Feature Request:
This is more of a code refactor than a feature request but you can use arrow functions which automatically bind enclosing context in class component methods that handle component events. This allows you to avoid the use of .bind(this) and makes the code more readable in my opinion. E.g:

[code]

Can be redu

[2017-11-11 22:23] Metnew commented on #137
Awesome PRs @MarcBouchard! I've already merged both 👍

[2017-11-11 22:25] Metnew commented on #135
https://github.com/Metnew/suicrux/pull/134 was merged into `dev`. lines `props: Props` are unused, because we already defined `Component<Props>`. I'll fix it later and push from `dev` to `master`. Thanks for both good PRs :)

[2017-11-11 22:25] #135 closed

[2017-11-12 03:48] MarcBouchard opened #139 "Separating component styles from component logic using separate styles.js file"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:

What are your thoughts on keeping static component style props and inline component style attributes separate from dynamic component props/styles. The idea here is to keep component logic separate from component styles to reduce clutter and could be done through the use of a separate styles.js file like the

[2017-11-12 13:09] Metnew commented on #139
Hi @MarcBouchard,

I don't think that this is a good idea, because:
Styled components are very useful when we want:
1. Create reusable/extendable component.
2. Incapsulate some complicated style(!) logic inside styled component - `SidebarPusher` inside `App` container, `src/common/containers/App`
3. Forget about `<div className="my-class-name"></div>` - `PageLayour`, `MainContainer` in App contain

[2017-11-12 13:09] #139 closed

[2017-11-12 15:49] MarcBouchard commented on #139
@Metnew Thank you for your clear and detailed feedback. You bring up some really good points about the additional overhead of styled-components and most notably the potential unexpected behaviour that could result from wrapping form inputs in parent components. I've learned something new and will keep this in mind for current and future projects!

[2017-11-12 22:57] #119 closed

[2017-11-12 22:58] #43 closed

[2017-11-14 04:38] MarcBouchard opened #141 "Missing type annotations for handleChange method in LoginCompnent"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
Missing type annotation for destructed "name" and "value" arguments in the LoginComponent. Forgot to report this bug after the component props fix!

- #### **What is the expected behavior?**
You can define a custom type annotation:
[code]

Or provide inline annotation:

[code]

- #### **What is the current behavio

[2017-11-14 05:24] MarcBouchard opened #143 "Add disable flow comment to suppress poorly supported flow errors"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:
Adding a disable-next-line comment to the .flowconfig file that allows for the suppression of flow errors on the line as per [flow documentation](https://flow.org/en/docs/config/options/#toc-suppress-comment-regex).

- #### Is feature important in common use cases?
This feature is useful for temporarily comme

[2017-11-14 19:18] Metnew commented on #143
Awesome, thank you @MarcBouchard 💯 👍

[2017-11-14 19:18] #143 closed

[2017-11-14 19:20] Metnew commented on #141
Awesome! Thank you @MarcBouchard 👍
You probably want to achieve 100% Flow coverage, don't you ?)

[2017-11-14 19:20] #141 closed

[2017-11-14 19:23] Metnew commented on #122
maybe next time 😆

[2017-11-14 19:23] #122 closed

[2017-11-15 06:20] MarcBouchard commented on #141
That's the dream!

[2017-11-17 23:33] kodemi commented on #42
@Metnew it still doesn't work. Header (react-headroom) scrolls on desktop.

[2017-11-18 00:15] Metnew commented on #42
Hm, ok, I'll take a look asap

[2017-11-28 12:00] avallete opened #148 "Firefox fixed footer bug"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:
On firefox, we have a issue with the footer. It's not fixed at bottom.

- #### **What is the expected behavior?**
https://screenshots.firefox.com/J2bu9fZ22qGd9ZU9/localhost

- #### **What is the current behavior?**
https://screenshots.firefox.com/EQZcuIbhNcejAVIi/localhost
- #### **Steps to reproduce:**

  1. Use

[2017-11-28 12:05] Metnew commented on #148
Hi, I noticed it yesterday, will be resolved soon

[2017-11-28 12:08] avallete commented on #148
You're too fast for me 😄

I made a PR, but I think you don't need it: https://github.com/Metnew/suicrux/pull/149

[2017-12-05 00:34] corpetty commented on #5
I'm still stuck at the auth page, nothing happens with I try and log in.

[2017-12-05 00:37] corpetty opened #153 "Stuck at Login `auth` screen"
## **I'm submitting a ...**

- [x] bug report
- [ ] feature request

### Bug Report:

- #### **What is the expected behavior?**
Log in with credentials should yield success

- #### **What is the current behavior?**
Nothing happens at attempted login

- #### **Steps to reproduce:**

  1. launch with `npm run dev` or `npm run start`

  2. type credentials in login auth view

  3. click button

### U

[2017-12-05 02:40] Metnew commented on #153
Any stack traces?
Did server log request to /api/v1/auth?

[2017-12-05 03:40] Metnew commented on #153
should be resolved in https://github.com/Metnew/suicrux/pull/154

[2017-12-05 03:52] #153 closed

[2018-01-22 07:39] cyrus-za opened #165 "NextJS integration"
I would love to get a example of how to use this along with nextjs. Their semantic-ui example is 9 months old and is throwing errors for me. I also like all the extra goodies in this package.

[2018-01-22 15:41] Metnew commented on #165
Hi @cyrus-za. I'm currently working on razzle integration. Both razzle and next.js have the same concept of `modify` function for webpack config customization. So, yeah, nextjs integration seems possible

[2018-01-22 19:31] AnthoniG opened #167 "Basic Setup ?"
Hi, love the design you've done using Semantic-UI components and want to set something up like it for my next project. Do you perhaps have a very basic setup with sidebar etc, but not using Redux, PWA, Server etc, etc ?

I know it's a bit to ask, perhaps, but if you could help I would be grateful. I am wanting to create an online Note / URL / Readme Later style application for trying out certain i

[2018-01-22 20:50] Metnew commented on #167
Unfortunately, no :(
There is only a clone without layout - purecrux
Steps to make a basic setup:
- copy `containers/App` + copy `/components/parts` + copy `/styles`
- take a look at actions/layout + reducers/layout
Get `razzle` toolkit or `next.js` or `nwb`. However, they require server code
if you still don't want server-side rendering - pick `create-react-app`

CRA + copied code - flow types(if

[2018-01-22 20:50] #167 closed

[2018-02-11 10:35] Wind213 opened #174 "The script has an unsupported MIME type ('text/html')."
## **I'm submitting a ...**

- [ ] bug report

### Useful Info:
when i'm login i got this error

- #### Your environment:
  - Node version: v9.5.0
  - Browser: google chrome Version 64.0.3282.140 (Official Build) (64-bit)
  - OS: Linux mint 18.3 cinnamon 64bit

Refused to execute script from 'http://localhost:3200/5.Partner-index-jsx.242309.js' because its MIME type ('text/html') is not executable

[2018-02-11 14:03] Metnew commented on #174
probably, the path to this lazy chunk is invalid and SSR handler returned html
Could you provide more info:
- is it dev or prod?
- do you embed any lazy chunks using any additional tools/logic except `react-async-component`?

[2018-02-11 16:58] jrich523 opened #175 "Source Map Issue"
### Bug Report:
- #### **What is the expected behavior?**
Upon loading the site in the browser i expect the source map be available
- #### **What is the current behavior?**
attempts to use '/performance-now.js.map' however it appears to just spew the sites content (html, not json) or 404 (new site 404 vs my lightly edited)
- #### **Steps to reproduce:**

  1. Follow setup directions (clone/npm ins

[2018-02-11 19:52] ball6847 commented on #175
This because vendor.js is handled by **AutoDllPlugin** and the **AutoDllPlugin** does not inherit from the parent config by default, so those sourcemap things will leave untouched and that's the problem because some of vendor entries listed in `webpack_config/config.js` depend on some packages which reference sourcemapURL in thier code.

Those packages are **react-headroom**, **react-helmet** and

[2018-02-11 20:02] beseffort opened #176 "sidebaritem titles are shown on header when page is refreshed"
When page is refreshed, sidebar items' titles are appeared on header for about 1sec, and they disappear after sidebar is loaded.

[2018-02-11 20:29] Metnew commented on #175
@ball6847
Awesome, thanks for the explanation!
@jrich523 Could I close it?

[2018-02-11 20:35] #175 closed

[2018-02-12 18:49] Wind213 commented on #174
Thanks, it has been fixed.
i changed /auth to /login, but forget to change the async component.

[2018-02-12 18:49] #174 closed

[2018-02-15 23:35] alphiii opened #179 "Deploying application with apache, frontend does not show..."
## **I'm submitting an issue that I have with deploying with apache**

- [x] help wanted

### Help Request:
I am trying to deploy app on ubuntu digital ocean cloud VM. I am using pm2 to locally run application as service and apache2 for hosting. I am using proxy for hosting this (nodejs/react app) in apache config. Hosted server application (nodejs - REST apis works), but UI - React app does not s

[2018-02-16 03:27] Metnew commented on #179
Are you sure you run Node server and not just serve client-side code?

[2018-02-16 03:29] Metnew commented on #179
Anywhere it's not the boilerplate issue, so I close it.
Feel free to add comments. I'll respond

[2018-02-16 03:29] #179 closed

[2018-02-16 04:01] Metnew commented on #176
Didn't see this behaviour
Could someone confirm it?

[2018-02-16 04:32] ball6847 commented on #176
Yes, I can confirm it. Both logo and menu items not get styled until the app is loaded.

![out-1 ogv](https://user-images.githubusercontent.com/3924130/36293436-6d75b04a-130c-11e8-8b86-1533360b6abc.gif)

[2018-02-16 05:09] Metnew commented on #176
That's because of SUIR. It's powered by SUI CSS, not a lib like glamour/styled-components.
Possible fixes:
- duplicate critical CSS in `styled-components`' global
- duplicate menu items styles in styled-components
- split SUI CSS into multiple small chunks, it should boost loading
Anywhere, it's an optimization thing.
-------------
Personally, I'm very upset about current SUI status. SUIR isn't an

[2018-02-16 07:58] Metnew commented on #37
Close it, because it's not directly connected to the boilerplate, but mostly to SUIR

[2018-02-16 07:58] #37 closed

[2018-02-16 16:56] alphiii commented on #179
Like I said yea I am sure. I ran build-ed server stuff (dist folder) via `node index.js`. And it hosted server things like APIs, DB worked,... Frontend sadly did not. Of course everything works if I don't use apache and just standalone nodejs server.
I don't have much experience in nodejs, so I might be missing something.

[2018-02-16 19:27] alphiii commented on #179
Found the problem, I was just copying build files since it was on low memory env and it would failed otherwise. But when I managed to build it on server everything works. So odd effect though, no errors, no no nothing...

[2018-02-18 01:29] Metnew commented on #179
I'm happy to hear that you resolved your issue )
It'll be even better soon 😈

[2018-02-19 21:54] Metnew commented on #176
should I close it? @beseffort @ball6847
as I understand it, this issue is not connected to boilerplate

[2018-02-20 01:05] Metnew opened #184 "Who's using Suicrux?"
If you're using Suicrux in production (or pet) projects, please post an issue or let me know so I can add it to README. Also, I'm very interested in your feedback.

[2018-02-20 02:13] Metnew commented on #165
I was researching Razzle last few weeks and finally have some good and bad news:
- Good news: some Razzle internals(node-externals handling, dev mode) are integrated into boilerplate.
- Bad news: Razzle lacks plugin system. No concrete info about this "plugin system" exists in the repo.

Next.js integration now is the primary task.
Both Razzle and Next have same Webpack re-configuration mechanism

[2018-02-20 02:18] Metnew commented on #42
Not sure, but the possible root of the problem:
- missing `overflow-x` in `<PageLayout>` component
- `transform:0`(in SUI's `.pushable`) breaks something.

I had a project where this feature works as expected. I'll take a look more detailed later

[2018-02-20 02:41] malixsys commented on #165
I’m using NestJS with NextJS: good fit... Maybe worth investigating?

[2018-02-20 02:48] Metnew commented on #165
@malixsys thanks for the recommendation, I'll surely take a look, it looks interesting.
The only issue - it's a backend framework :)

[2018-02-20 03:07] Metnew opened #185 "Roadmap [WIP]"
Next.js integration - #165 :
- [ ] move current webpack config into a distinct npm module
- [ ] basic modify function (from feat/razzle branch)

[2018-02-20 14:32] onurkose commented on #184
Well, I was a loyal user of Bootstrap until I've started to develop my projects using React. I've been amazed when I saw the Semantic for the first time, then I found Suicrux. I think there's a lot to learn from your code and that's something hard to find these days.
Right now I'm working on a navigation integration (@alpertuna/react-metismenu) on Suicrux because Semantic's Sidebar module is the o

[2018-02-20 15:40] malixsys commented on #165
@Metnew I know but `https://github.com/Metnew/suicrux/tree/master/src/server` :)

[2018-02-20 15:42] malixsys commented on #165
Serves `nextJS` perfectly and allows adding an API easily...
[code]

[2018-02-20 19:37] Metnew commented on #184
@onurkose  Agree about SUI's Sidebar. Their submenus are too basic
I would like to add your project to README, when it will be ready

[2018-02-20 19:42] Metnew commented on #165
It'd be cool to add `example` dir, like in Next/Razzle with simple examples of integration with different libs, but it makes sense only after working `modify` function. @malixsys

[2018-02-25 18:35] onurkose commented on #184
@Metnew Well, I gave up after three days of trying of implementation. It's very well explained how to migrate with [react router](https://alpertuna.github.io/react-metismenu-router-link/) and [redux](https://github.com/alpertuna/react-metismenu#using-with-redux) (not both but seperately) in documentation but no matter what I do I couldn't make it to change active link status and active sub menu ac

[2018-02-26 13:54] #176 closed

[2018-02-27 09:00] PharrellWANG opened #191 "Eager to see Redux-Saga in this project"
## **I'm submitting a ...**

- [ ] bug report
- [x] feature request

### Feature Request:
Why not replace redux-thunk with redux-saga?

- #### Is feature important in common use cases?

Yes, i think this feature is important in common use cases.

- #### Describe requested feature:
Replace redux-thunk with redux-saga.

[2018-02-27 14:05] Wind213 commented on #184
I'm planning to use suicrux for production.

[2018-02-28 04:16] Metnew commented on #184
@onurkose
did you try to wrap your component with `withRouter` ?
No, I'd like to include some good projects into README as a showcase, but I don't want to modify codebase for now

[2018-03-02 03:49] Metnew commented on #191
Hi @PharrellWANG, redux-saga is great, but I don't want to force boilerplate's users to use it. As of my point of view, redux-promise-middleware is easy to add/remove from the project and easy to use.

[2018-03-02 03:49] #191 closed

[2018-03-02 18:25] Duder-onomy commented on #27
Boom! This thread just saved my butt.

[2018-03-02 21:08] onurkose commented on #184
@Metnew Yes! withRouter did the work. Thank you.

[2018-03-03 01:46] Metnew commented on #27
@Duder-onomy 👍

[2018-03-04 15:05] onurkose commented on #176
@Metnew, I can confirm this behavior and also I can tell suicrux came like this out of the box. Whatever css value loads after dom rendering. I think there should be a fix or an implementation of [Loader module](https://react.semantic-ui.com/elements/loader) or something like [Pace](http://github.hubspot.com/pace/docs/welcome/) for the initial loading.

[2018-03-07 08:48] Metnew commented on #176
@onurkose That's not a logic issue, but a loading of styles. It cannot be easily fixed without direct changes to SUIR

[2018-03-26 10:52] arashkiani opened #203 "flow-typed install fails"
## **I'm submitting a bug **

- #### **What is the expected behaviour?**
able to find a flow project....

- #### **What is the current behaviour?**

[code]

- #### **Steps to reproduce:**

  1. clone

  2. yarn install

  3. flow-typed install

### Useful Info:

- #### Your environment:
  - Node version: v9.4.0
  - Browser: n/a
  - OS: ubuntu

[2018-03-29 15:57] malixsys commented on #17
@Metnew I know you said you don't like TypeScript but it's getting a LOT of momentum lately, and IDE support is getting VERY nice!
What say you? :)
http://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

[2018-04-04 12:31] rajchourasia opened #208 "Error Can't resolve 'react-tree-walker', while running "npm run dev" from master branch"
## **I'm submitting a bug report**
- [ ] bug report

### Bug Report:

- #### **What is the expected behavior?**
"npm run dev" should work

- #### **What is the current behavior?**
"npm run dev" is failing with error

- #### **Steps to reproduce:**

  1. clone repository

  2. run "npm install"

  3. run "npm run dev"

### Useful Info:

- #### Your environment:
  - Node version: v8.11.1
  - Browser

[2018-04-04 16:08] rajchourasia commented on #208
To solve this I had to

[code]

[2018-04-29 15:43] Metnew commented on #203
Probably, you didn't run `flow init` before `flow-typed install`

[2018-04-29 16:13] Metnew commented on #165
@cyrus-za
I've recently made https://github.com/Metnew/next-semantic-ui-react, that could be interesting for you.

It's not a full clone of this boilerplate, just a SUIR + Next.js integration.

Fully migrate to next.js is almost impossible, too much config overwriting.

[2018-04-29 16:15] Metnew commented on #203
Stupid question, but... Did you run `cd suicrux`?

[2018-05-03 15:14] greenkeeper[bot] opened #215 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-25 05:56] RavibabuK commented on #184
Hi @onurkose
I am trying to achieve side bar menu with sub menus and couldn't figure out solid solution. Is Metis menu integration is working fine ? Can you please share some examples how to integrate Metis menu in suicrux boilerplate if possible?

[2018-05-25 06:25] onurkose commented on #184
I had it done but not within the sidebar component. Sidebar is builtin overflow hidden and modifying it to work with metismenu is just an overkill. But if you check out @onokumus's [newest examples of metismenu](http://elk.onokumus.com/), there are better solutions of [collapsed](http://elk.onokumus.com/app-side-is-mini.html)/[hidden](http://elk.onokumus.com/app-side-is-fixed.html) etc. versions.

[2018-05-25 09:31] #185 closed

[2018-05-25 09:31] #165 closed

[2018-05-25 09:34] #215 closed

[2018-05-25 09:34] Metnew commented on #184
@onurkose Vue.js is a good choice too 😉
@RavibabuK I haven't worked with Metis framework, so I probably couldn't help you

[2018-05-25 09:35] Metnew commented on #208
probably, it's fixed now

[2018-05-25 09:35] #208 closed

[2018-07-04 18:03] jchartrand opened #250 "static only?"
Thank you for the fantastic kick starter.  Two related questions:

1. What is the best way to build/use the suicrux front end alone, and so run it statically from apache (or nginx) without the express server?

2. What is the purpose of the frontend-build npm script?

Thank you

[2018-07-23 10:32] RavibabuK opened #277 "Unable to debug in VSCode editor"
## **I'm submitting a ...**

- [ ] bug report

### Bug Report:

- #### **What is the expected behavior?**
Should debug this starter application in VSCode editor

- #### **What is the current behavior?**
Can't able to debug in VSCode editor due to below error

C:\Program Files\nodejs\node.exe --nolazy --require babel-register --inspect-brk=10238 src\index.js
Debugger listening on ws://127.0.0.1:102

[2018-09-13 10:20] greenkeeper[bot] opened #309 "An in-range update of webpack-hot-middleware is breaking the build 🚨"
## The devDependency [webpack-hot-middleware](https://github.com/webpack-contrib/webpack-hot-middleware) was updated from `2.23.1` to `2.24.0`.

🚨 [View failing branch](https://github.com/Metnew/suicrux/compare/master...Metnew:greenkeeper%2Fwebpack-hot-middleware-2.24.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

web

[2018-09-29 14:27] greenkeeper[bot] opened #313 "An in-range update of babel-plugin-styled-components is breaking the build 🚨"
## The devDependency [babel-plugin-styled-components](https://github.com/styled-components/babel-plugin-styled-components) was updated from `1.7.1` to `1.8.0`.

🚨 [View failing branch](https://github.com/Metnew/suicrux/compare/master...Metnew:greenkeeper%2Fbabel-plugin-styled-components-1.8.0).

This version is **covered** by your **current version range** and after updating it in your project **t

[2018-10-03 20:09] #184 closed

[2018-10-03 20:15] Metnew commented on #250
Hi @jchartrand,

Unfortunately, I won't maintain this starter anymore :(

1. Static builds are not supported

2. This script builds frontend JS chunks

[2018-10-03 20:15] #250 closed

[2018-10-03 20:15] #309 closed

[2018-10-03 20:15] #313 closed

[2018-10-03 20:18] Metnew commented on #277
Something with i18n => 'static/locals/ru'

I guess VSC doesn't resolve webpack alias, so it can't find the `static/locals/ru`.
I don't maintain Suicrux now :(

[2018-10-03 20:18] #277 closed

[2018-10-03 20:18] #203 closed

[2018-11-13 02:52] greenkeeper[bot] opened #324 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-test-renderer](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing bra

[2019-03-14 06:50] greenkeeper[bot] opened #340 "An in-range update of enzyme is breaking the build 🚨"
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.8.0` to `3.9.0`.
- The `devDependency` [enzyme-adapter-react-16](https://github.com/airbnb/enzyme) was updated from `1.11.0` to `1.11.1`.

🚨 [View failing branch](https://github.com/Metnew/suicrux/compare/master...Metnew:greenkeeper%2Fmonorepo.enzyme-2019031

[2019-06-24 12:08] greenkeeper[bot] opened #346 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/Metnew/suicrux/compare/master...Metnew:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-reac